.home-hero {
  padding: 16px 0;

  @include media-up(md) {
    padding: 32px 0;
  }

  @include media-up(xl) {
    padding: 60px 0;
  }
}

.home-hero-slider {
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(260deg, #F5EEE7 1%, #F6EADE 98%);

  @include media-up(md) {
    height: 404px;
    border-radius: 32px;
  }

  @include media-up(xl) {
    height: 548px;
  }

  .swiper-wrapper {
    @include media-up(md) {
      height: 100% !important;
    }
  }

  .swiper-pagination {
    bottom: 230px;

    @include media-up(md) {
      left: 40px;
      bottom: 40px;
      justify-content: flex-start;
    }

    @include media-up(lg) {
      left: 60px;
    }

    @include media-up(xl) {
      left: 80px;
      bottom: 80px;
    }
  }
}

.home-hero-slide {
  overflow: hidden;

  @include media-up(md) {
    display: flex;
    height: 100% !important;
  }

  &__content {
    padding: 32px 24px;

    @include media-up(md) {
      max-width: 530px;
      padding: 40px;
    }

    @include media-up(lg) {
      max-width: 620px;
      padding: 40px 60px;
    }

    @include media-up(xl) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 660px;
      height: 500px;
      padding: 30px 80px;
    }
  }

  &__title {
    margin-bottom: 12px;

    @include media-up(md) {
      margin-bottom: 16px;
    }

    @include media-up(xl) {
      margin-bottom: 24px;
    }
  }

  &__text {
    @include fz14-16-16;
  }

  &__btn {
    margin-top: 24px;
    @include btn-big;
  }

  &__img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 230px;
    margin-left: auto;

    @include media-up(md) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    @include media-up(lg) {
      height: 370px;
    }

    @include media-up(xl) {
      height: 490px;
    }

    img {
      height: 100%;
      max-width: unset;
    }
  }
}
