.btn {
  display: inline-block;
  width: 100%;
  padding: 9px 20px;
  font-family: $font;
  background: $color-blue;
  color: #fff;
  @include fz14-14-16;
  font-weight: 500;
  user-select: none;
  text-align: center;
  transition-property: color, outline-color, background-color;
  transition-duration: .25s;
  border-radius: 24px;
  cursor: pointer;

  @include media-up(md) {
    width: fit-content;
    min-width: 162px;
    padding: 10px 25px;
  }

  @include media-up(lg) {
    padding: 10px 40px;
  }

  &:hover {
    background: $color-blue-hover;
  }

  &:active {
    background: $color-blue-active;
  }

  &:disabled {
    background: $color-gray-2;
    pointer-events: none;
  }

  &--red {
    background: $color-red;

    &:hover {
      background: $color-red-hover;
    }

    &:active {
      background: $color-red-active;
    }
  }

  &--transparent {
    color: $color-blue;
    outline: 1px solid $color-border-2;
    background: transparent;

    &:hover {
      color: $color-blue-hover;
      outline-color: $color-blue-hover;
      background: transparent;
    }

    &:active {
      color: $color-blue-active;
      outline-color: $color-blue-active;
      background: transparent;
    }
  }

  &--plus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    padding: 0;

    @include media-down(sm) {
      width: 44px;
      height: 44px;

      span {
        display: none;
      }
    }

    @include media-up(md) {
      padding: 8px 20px;
    }
  }
}
