.btn {
  display: block;
  width: fit-content;
  padding: 12px 15px;
  font-family: $font;
  font-size: 16px;
  background: $color-blue;
  color: #fff;
  font-size: 14px;
  user-select: none;
  text-align: center;
  transition: background-color .3s;
  border-radius: 24px;
  cursor: pointer;

  @include media-up(md) {
    font-size: 16px;
  }

  &:hover {
    background: $color-blue-hover;
  }

  &:active {
    background: $color-blue-active;
  }

  &--red {
    background: $color-red;

    &:hover {
      background: $color-red-hover;
    }

    &:active {
      background: $color-red-active;
    }
  }
}
