.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;

  @include media-up(md) {
    padding: 0 40px;
    max-width: 1320px;
  }

  &--wide {
    @include media-up(md) {
      max-width: 1400px;
    }
  }
}
