.datepicker {
  cursor: pointer;
  padding-right: 40px;

  @include media-up(lg) {
    padding-right: 54px;
  }

  &.active ~ svg {
    color: $color-red;
  }

  & ~ svg {
    position: absolute;
    z-index: 1;
    right: 16px;
    bottom: 12px;
    width: 20px;
    height: 20px;
    pointer-events: none;

    @include media-up(lg) {
      right: 24px;
      bottom: 16px;
      width: 24px;
      height: 24px;
    }
  }
}
