.fancybox {
  &__backdrop {
    background: $color-blue-50;
  }

  &__container {
    color: inherit;
    --carousel-button-color: #fff;

    :focus {
      outline: inherit !important;
      box-shadow: inherit !important;
    }
  }

  &__slide {
    @include media-down(sm) {
      &.has-inline {
        display: block;
        padding: 0;
      }
    }
  }
}
