.form {
  $self: &;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media-up(md) {
    gap: 16px;
  }

  @include media-up(lg) {
    gap: 24px;
  }

  &__title {
    font-weight: 500;
    color: $color-blue;

    @include media-up(md) {
      margin-bottom: 8px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    @include media-up(md) {
      flex-direction: row;
      gap: 16px;
    }

    @include media-up(lg) {
      gap: 24px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    @include media-up(md) {
      flex: 1 1 0;
    }

    &--hidden {
      #{$self}:not(.active) & {
        display: none;
      }
    }

    &--hide {
      #{$self}.active & {
        display: none;
      }
    }

    #{$self}.edited & input {
      animation: input-active .5s;
    }

    .btn {
      width: 100%;
      margin-top: auto;
      @include btn-big;

      @include media-down(sm) {
        margin-top: 12px;
      }
    }

    label {
      margin-bottom: 9px;

      @include media-up(lg) {
        margin-bottom: 12px;
      }
    }
  }

  &__policy {
    @include fz12-14;
    color: $color-blue;

    a {
      @include link-under;
    }
  }
}

// File upload
.file-upload {
  $self: &;
  position: relative;
  width: 100%;
  color: $color-blue;
  display: flex;
  align-items: center;
  gap: 12px;

  &__field {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__link {
    #{$self}--loaded & {
      display: none;
    }
  }

  &__name {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2;

    #{$self}--loaded & {
      display: -webkit-box;
    }
  }
}

// Form toggler
.form-toggler {
  position: relative;
  z-index: 1;
  display: flex;
  border: 1px solid  $color-border-2;
  border-radius: 24px;
  overflow: hidden;
  width: fit-content;

  &__item {
    position: relative;
    display: block;
    padding: 12px 24px;
    color: $color-blue;
    cursor: pointer;
    transition: color .25s;

    &:after {
      content: '';
      @include abs;
      z-index: -1;
      border-radius: 24px;
      background: $color-blue;
      transition: transform .25s;
    }

    &:first-child:after {
      transform: translateX(100%);
    }

    &:last-child:after {
      transform: translateX(-100%);
    }

    &.active {
      color: $color-white;

      &:after {
        transform: translateX(0);
      }
    }
  }
}
