.hamburger {
  position: relative;
  z-index: 101;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  cursor: pointer;
  user-select: none;
  border-radius: 16px;
  transition: background-color .25s;

  @include media-up(md) {
    width: 32px;
    height: 32px;

    &:hover {
      background: $color-blue-05;
    }
  }

  .show-nav & {
    background: $color-blue-10;

    @include media-up(xl) {
      background: $color-blue;
    }
  }

  span {
    display: block;
    position: absolute;
    left: 4px;
    width: 16px;
    height: 2px;
    background-color: $color-blue;
    transition: .5s;
    border-radius: 2px;
    color: inherit;
    opacity: 1;

    @include media-up(md) {
      left: 8px;
    }

    @include media-up(xl) {
      transition: .25s;
    }

    &:nth-child(1) {
      top: calc(50% - 7px);
    }

    &:nth-child(2) {
      top: calc(50% - 1px);
    }

    &:nth-child(3) {
      top: calc(50% + 5px);
    }

    .show-nav & {
      @include media-up(xl) {
        background: #fff;
      }

      @include media-down(lg) {
        background: $color-gray;
        width: 16px;
        left: 8px;
        top: calc(50% - 1px) !important;

        &:nth-child(1) {
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          width: 0;
          left: 50%;
          opacity: 0;
          transform: rotate(180deg);
        }

        &:nth-child(3) {
          transform: rotate(225deg);
        }
      }

      @include media-down(sm) {
        width: 14px;
        left: 5px;
      }
    }
  }
}
