input,
textarea {
  width: 100%;
  z-index: 1;
  border-radius: 24px;
  transition: border-color .15s;
  padding: 12px 16px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 24px;
  border: 1px solid $color-border-2;
  background: $color-white;
  transition: border-color .2s;

  @include media-up(lg) {
    padding: 16px 24px;
  }

  &:hover {
    border-color: $color-blue;
  }

  &:focus,
  &.is-filled {
    color: $color-blue;
  }

  &:disabled {
    border-color: $color-border-3;
  }
}

input {
  height: 44px;

  @include media-up(lg) {
    height: 56px;
  }
}

textarea {
  height: 110px;
  resize: none;

  @include media-up(md) {
    height: 145px;
  }
}

input[type="checkbox"] {
  position: relative;
  margin: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  font: inherit;
  border: 1px solid $color-border-2;
  background: none center no-repeat;
  border-radius: 4px;
  appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: none;

  &:hover {
    border-color: $color-blue;
  }

  &:before {
    content: '';
    @include abs;
    z-index: 1;
    background: url(../img/icon/check.svg) center no-repeat;
    transform: scale(0) rotate(-90deg);
    transition: .1s;
  }

  &:checked {
    border-color: $color-blue;
    background-color: $color-blue;

    &:before {
      transform: scale(1) rotate(0);
    }
  }

  &.red {
    &:hover {
      border-color: $color-red;
    }

    &:checked {
      border-color: $color-red;
      background-color: $color-red;
    }
  }
}

input[type="radio"] {
  position: relative;
  margin: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  font: inherit;
  border: 1px solid $color-red;
  background: none center no-repeat;
  border-radius: 50%;
  appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: .2s;

  &:hover {
    border-color: $color-blue;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 15px;
    background: $color-red;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .1s;
  }

  &:checked {
    border-color: $color-red;

    &:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.input-block {
  display: flex;
  gap: 12px;
  color: $color-blue;

  input {
    margin-top: 2px;

    @include media-up(md) {
      margin-top: 3px;
    }

    @include media-up(xl) {
      margin-top: 4px;
    }
  }
}
