.modal {
  $self: &;
  display: none;
  align-items: center;
  padding: 24px;
  background: $color-white;

  @include media-down(sm) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  @include media-up(md) {
    width: 100%;
    max-width: 578px;
    padding: 60px 80px;
    border-radius: 24px;
  }

  &--big {
    @include media-up(md) {
      max-width: 800px;
    }
  }

  &--small,
  &--notice {
    text-align: center;

    @include media-up(md) {
      width: 526px;
    }

    #{$self}__buttons,
    #{$self}__btn {
      margin-top: 0;
    }
  }

  &--notice {
    @include media-down(sm) {
      position: absolute;
      min-height: unset;
      bottom: 0;
      padding-bottom: 45px;
      border-radius: 16px 16px 0 0;

      &.fancybox-fadeOut {
        animation: 0.3s ease fancybox-slideOut;
      }

      button.is-close {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -11px;
        transform: translateX(-50%);
        width: 55px;
        height: 5px;
        background: #C2CDD8;
        border-radius: 12px;
        pointer-events: none;
      }
    }

    @include media-up(md) {
      padding: 40px 60px 50px;
    }
  }

  &--cancel {
    text-align: center;

    @include media-up(md) {
      width: 513px;
    }
  }

  &__title {
    width: 100%;
    font-family: $font-title;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $color-blue;
    margin-bottom: 24px;

    @include media-up(md) {
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 40px;
    }

    & + #{$self}__text {
      margin-top: -8px;

      @include media-up(md) {
        margin-top: -24px;
      }
    }
  }

  &__text {
    color: $color-blue;
    margin-bottom: 32px;
  }

  &__timer {
    span {
      color: $color-red;
    }
  }

  &__new-code {
    display: none;
    width: fit-content;
    font-weight: 500;
    @include link-red;
    @include link-under;
    cursor: pointer;
  }

  &__link {
    display: block;
    width: fit-content;
    margin-top: 16px;
    font-weight: 500;
    @include link-red;
    @include link-under;
    cursor: pointer;
  }

  &__form {
    width: 100%;

    @include media-up(md) {
      gap: 20px;
    }

    #{$self}__text {
      margin-bottom: 0;
    }

    #{$self}__btn {
      margin-top: 12px;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 24px;
    @include btn-big;

    @include media-up(md) {
      margin-top: 32px;
      border-radius: 32px;
    }
  }

  &__buttons {
    width: 100%;
    max-width: 350px;
    margin: 32px auto 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media-up(md) {
      flex-direction: row;
      gap: 24px;
    }

    .btn {
      @include media-up(md) {
        width: 100%;
      }
    }
  }

  &__forgot {
    display: block;
    width: fit-content;
    @include fz12-14;
    @include link-red;
    cursor: pointer;

    @include media-up(md) {
      margin-top: -8px;
    }
  }

  &__sign-in {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media-up(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .btn {
      margin: 0;

      @include media-up(md) {
        width: auto;
      }
    }
  }

  &__no-account {
    margin: 0 auto;

    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__cancel-form {
    @include media-up(md) {
      width: 100%;
    }

    #{$self}__buttons {
      @include media-down(sm) {
        padding: 0 24px;
      }
    }
  }

  &__options {
    position: relative;
    left: 0;
    width: 100vw;

    @include media-up(md) {
      left: -80px;
      width: calc(100% + 160px);
    }
  }

  &__option {
    position: relative;

    &:nth-child(odd) {
      background: $color-light;
    }

    label {
      display: block;
      width: 100%;
      padding: 16px 24px;
      font-weight: 500;
      text-align: left;

      @include media-up(md) {
        padding: 16px 80px;
      }
    }

    input {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);

      @include media-up(md) {
        right: 80px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
  }
}

.modal-history {
  width: 100%;

  &__table {
    @include media-down(sm) {
      margin: 0 -24px;
    }
  }

  &__title {
    margin-bottom: 16px;

    @include media-up(md) {
      margin-bottom: 24px;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;

    @include media-down(sm) {
      background: $color-border;
      color: $color-red;
    }

    @include media-up(md) {
      position: relative;
      padding: 16px 24px;
      background: $color-light;
      border: 1px solid #164168;
      border-radius: 16px;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0;
        right: -3px;
        bottom: -3px;
        display: block;
        background: $color-blue;
        border-radius: 16px;
      }
    }

    span {
      &.total {
        display: block;
        font-weight: 500;
        font-size: 16px;
      }

      @include media-down(sm) {
        display: none;

        &.title-title {
          display: block;
          color: $color-red;
          font-weight: 500;
        }
      }

      @include media-up(md) {
        width: 60px;

        &.title-title {
          color: $color-blue;
          width: 190px;
        }
      }
    }
  }

  &__content {
    @include media-down(sm) {
      padding: 0 24px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include media-down(sm) {
      padding: 12px 0;
    }

    @include media-up(md) {
      padding: 16px 24px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }

    span.title,
    span.total {
      font-weight: 500;
      color: $color-blue;
    }

    &--deleted {
      span {
        color: $color-border-2 !important;

        @include media-down(sm) {
          text-decoration: line-through;
        }

        &.title {
          position: relative;

          &:after {
            content: 'удалено';
            position: absolute;
            color: $color-red;
            margin-left: 12px;
            padding-right: 17px;
            background-image: url(../img/icon/cross-red.svg);
            background-repeat: no-repeat;
            background-position: right 55%;

            @include media-down(sm) {
              right: 0;
            }
          }
        }
      }
    }

    span {
      @include media-down(sm) {
        &.title {
          width: 100%;
          margin-bottom: 16px;
        }

        &.sale {
          display: none;
        }

        &.price {
          order: 1;
          color: $color-blue;
          font-weight: 500;
          text-decoration: line-through;
          margin-left: 12px;
        }

        &.total-title {
          margin-right: auto;
        }

        &.total {
          position: relative;
          font-size: 16px;
          color: $color-red;
        }
      }

      @include media-up(md) {
        width: 60px;

        &.total-title {
          display: none;
        }

        &.title {
          width: 190px;
        }
      }
    }
  }

  &__total {
    color: $color-blue;
  }

  span.clarify {
    display: block;
    font-weight: 500;
    color: $color-red;

    @include media-up(md) {
      width: 328px;
      text-align: center;
    }
  }

  &__footer {
    margin-top: 32px;

    @include media-up(md) {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }

  &__btn {
    @include btn-big;
  }
}

.modal-options {

}
