.page-sidebar {
  @include media-up(xl) {
    position: sticky;
    top: 110px;
    display: grid;
    grid-gap: 32px;
  }
}


.sidebar {
  padding: 16px 24px;
  border-radius: 16px;
  border: 1px solid  $color-border-2;

  @include media-up(lg) {
    padding: 24px 32px;
    border-radius: 32px;
  }

  @include media-up(xl) {
    padding: 32px;
    border-radius: 24px;
  }
}

.sidebar-contacts {
  @include media-down(lg) {
    display: none;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__row {
    display: flex;
    align-items: center;
    color: $color-blue;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}
