.swiper-horizontal {
  position: relative;
}

.swiper-pagination {
  display: flex;
  justify-content: center;

  &-bullet {
    width: 20px;
    height: 3px;
    background: #CFC7BF;
    border-radius: 3px;
    opacity: 1;
    transition: .5s;

    @include media-up(md) {
      width: 28px;
    }

    &-active {
      width: 93px;
      background: $color-red;

      @include media-up(md) {
        width: 132px;
      }
    }
  }
}

.swiper-navigation {
  display: flex;
  gap: 24px;
}

.swiper-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E9DBCE;
  border-radius: 50%;
  cursor: pointer;
  transition: .15s;

  &--prev {
    transform: rotate(180deg);
  }

  &--next {

  }

  &-disabled {
    opacity: 0.5;
  }
}
