.swiper-horizontal {
  position: relative;
}

.swiper-navigation {
  display: flex;
  gap: 24px;
}

.swiper-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E9DBCE;
  color: $color-blue;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: scale(1.2);
  }

  &--prev svg {
    transform: rotate(180deg);
  }

  &--next {

  }

  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
