.wow {
  opacity: 0;
  visibility: hidden;
  transition-duration: .7s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(.175,.885,.32,1.275);

  &.wow-init {
    opacity: 1;
    visibility: visible;
  }
}

.wow.fadeInUp {
  transform: translateY(50px);

  &.wow-init {
    transform: translateY(0);
  }
}
