<div class="services-cards grid">
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-1.png" alt="" class="service-card__img">
        <div class="service-card__title">Ремонт подвески</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-2.png" alt="" class="service-card__img">
        <div class="service-card__title">Ремонт двигателя</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-3.png" alt="" class="service-card__img d-none-sm">
        <img src="img/base/service/service-3-mob.png" alt="" class="service-card__img d-none-md">
        <div class="service-card__title">Ремонт тормозной<br>системы</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-4.png" alt="" class="service-card__img">
        <div class="service-card__title">Ремонт трансмиссии</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-5.png" alt="" class="service-card__img">
        <div class="service-card__title">Шиномонтаж</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-6.png" alt="" class="service-card__img d-none-sm">
        <img src="img/base/service/service-6-mob.png" alt="" class="service-card__img d-none-md">
        <div class="service-card__title">Ремонт кондиционера<br>и печки</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-7.png" alt="" class="service-card__img">
        <div class="service-card__title">Ремонт выхлопной&nbsp;системы</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-8.png" alt="" class="service-card__img">
        <div class="service-card__title">Ремонт электрооборудования</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-9.png" alt="" class="service-card__img">
        <div class="service-card__title">Ремонт рулевого управления</div>
    </a>
    <a href="service.html" class="service-card">
        <img src="img/base/service/service-10.png" alt="" class="service-card__img">
        <div class="service-card__title">Ремонт рулевого управления</div>
    </a>
</div>
