<form class="form services-form" action="#">
    <div class="form__title">
        Выберите свой автомобиль
    </div>
    <div class="form__row auto-selects">
        <div class="form__item">
            <label for="auto_mark">Автомобиль</label>
            <select name="auto_mark" id="auto_mark" disabled>

            </select>
        </div>
        <div class="form__item">
            <label for="auto_model">Модель</label>
            <select name="auto_model" id="auto_model" disabled>

            </select>
        </div>
        <div class="form__item">
            <label for="auto_equip">Комплектация</label>
            <select name="auto_equip" id="auto_equip" disabled>

            </select>
        </div>
        <div class="form__item">
            <button type="submit" class="btn">
                Показать
            </button>
        </div>
    </div>
</form>

