<div class="services-works grid">
    <div class="service-work">
        <a href="service.html" class="service-work__img">
            <img src="img/base/service/service-work.jpg" alt="">
        </a>
        <div class="service-work__content">
            <a href="service.html" class="service-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</a>
            <div class="service-work__works">Работы + запчасти</div>
            <div class="service-work__total">4 343 ₽</div>
            <div class="service-work__btns">
                <a href="service.html" class="service-work__btn btn btn--transparent">Подробнее</a>
                <button class="service-work__btn btn btn--red">В корзину</button>
            </div>
        </div>
    </div>
    <div class="service-work">
        <a href="service.html" class="service-work__img">
            <img src="img/base/service/service-work.jpg" alt="">
        </a>
        <div class="service-work__content">
            <a href="service.html" class="service-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</a>
            <div class="service-work__works">Работы + запчасти</div>
            <div class="service-work__total">4 343 ₽</div>
            <div class="service-work__btns">
                <a href="service.html" class="service-work__btn btn btn--transparent">Подробнее</a>
                <button class="service-work__btn btn btn--red">В корзину</button>
            </div>
        </div>
    </div>
    <div class="service-work">
        <a href="service.html" class="service-work__img">
            <img src="img/base/service/service-work.jpg" alt="">
        </a>
        <div class="service-work__content">
            <a href="service.html" class="service-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</a>
            <div class="service-work__works">Работы + запчасти</div>
            <div class="service-work__total">4 343 ₽</div>
            <div class="service-work__btns">
                <a href="service.html" class="service-work__btn btn btn--transparent">Подробнее</a>
                <button class="service-work__btn btn btn--red">В корзину</button>
            </div>
        </div>
    </div>
    <div class="service-work">
        <a href="service.html" class="service-work__img">
            <img src="img/base/service/service-work.jpg" alt="">
        </a>
        <div class="service-work__content">
            <a href="service.html" class="service-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</a>
            <div class="service-work__works">Работы + запчасти</div>
            <div class="service-work__total">4 343 ₽</div>
            <div class="service-work__btns">
                <a href="service.html" class="service-work__btn btn btn--transparent">Подробнее</a>
                <button class="service-work__btn btn btn--red">В корзину</button>
            </div>
        </div>
    </div>
    <div class="service-work">
        <a href="service.html" class="service-work__img">
            <img src="img/base/service/service-work.jpg" alt="">
        </a>
        <div class="service-work__content">
            <a href="service.html" class="service-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</a>
            <div class="service-work__works">Работы + запчасти</div>
            <div class="service-work__total">4 343 ₽</div>
            <div class="service-work__btns">
                <a href="service.html" class="service-work__btn btn btn--transparent">Подробнее</a>
                <button class="service-work__btn btn btn--red">В корзину</button>
            </div>
        </div>
    </div>
    <div class="service-work">
        <a href="service.html" class="service-work__img">
            <img src="img/base/service/service-work.jpg" alt="">
        </a>
        <div class="service-work__content">
            <a href="service.html" class="service-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</a>
            <div class="service-work__works">Работы + запчасти</div>
            <div class="service-work__total">4 343 ₽</div>
            <div class="service-work__btns">
                <a href="service.html" class="service-work__btn btn btn--transparent">Подробнее</a>
                <button class="service-work__btn btn btn--red">В корзину</button>
            </div>
        </div>
    </div>
</div>
