<div class="appointment">
    <h1 class="appointment__title">
        Запланировать запись
    </h1>

    <from action="#" class="appointment__wrapper">
        <div class="appointment__form form">
            <div class="form__row">
                <div class="form__item">
                    <label for="datepicker_from">Выберите дату</label>
                    <input type="text"
                           name="datepicker_from"
                           id="datepicker_from"
                           placeholder="Начиная с"
                           class="datepicker"
                           readonly>
                    <svg width="24" height="24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                </div>
                <div class="form__item">
                    <input type="text"
                           name="datepicker_to"
                           id="datepicker_to"
                           placeholder="Заканчивая по"
                           class="datepicker"
                           readonly>
                    <svg width="24" height="24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                </div>
            </div>
            <div class="form__item">
                <label for="appointment_weekdays">Удобный день недели</label>
                <select name="appointment_weekdays"
                        id="appointment_weekdays">
                    <option value="Только будни">Только будни</option>
                    <option value="Только выходные">Только выходные</option>
                    <option value="Все дни">Все дни</option>
                </select>
            </div>
            <div class="form__item">
                <label for="appointment_daytimes">Удобное время суток</label>
                <select name="appointment_daytimes"
                        id="appointment_daytimes">
                    <option value="08:00-12:00">Утро</option>
                    <option value="08:00-12:00">08:00-12:00</option>
                    <option value="12:00-18:00">День</option>
                    <option value="12:00-15:00">12:00-15:00</option>
                    <option value="15:00-18:00">15:00-18:00</option>
                    <option value="18:00-24:00">Вечер</option>
                    <option value="18:00-21:00">18:00-21:00</option>
                    <option value="21:00-24:00">21:00-24:00</option>
                    <option value="Весь день">Весь день</option>
                </select>
            </div>
            <div class="form__item">
                <label for="appointment_time">Выбрать время</label>
                <select name="appointment_time"
                        id="appointment_time">
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>
                </select>
            </div>
            <div class="form__item appointment__buttons">
                <button class="btn choose-time" disabled>
                    Подобрать
                </button>
                <div class="appointment__btn-fix">
                    <button type="submit"
                            class="btn btn--red"
                            data-fancybox
                            data-src="#modal-success-appointment"
                            disabled>
                        Записаться в автосервис
                    </button>
                </div>
            </div>
        </div>

        <div class="appointment__timelines timelines">
            <div class="timelines__wrapper">
                <div class="timelines__title h3">Доступное время</div>
                <div class="timelines__list">
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                    <div class="timeline">
                        <label class="timeline__wrapper">
                            <div class="timeline__pickup">
                                <div class="timeline__title">Приём</div>
                                <div class="timeline__data">ср, 21 июл. в 9:20</div>
                            </div>
                            <div class="timeline__duration">
                                <div class="timeline__duration-line"></div>
                                <div class="timeline__duration-time">
                                    1 ч. 50 мин.
                                    <svg width="16" height="16">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="timeline__return">
                                <div class="timeline__title">Выдача</div>
                                <div class="timeline__data">ср, 22 июл. в 9:20</div>
                            </div>
                            <input type="radio" name="timeline" class="timeline__check">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
