<div class="cart">
    <div class="cart__header">
        <h1 class="cart__title">Корзина</h1>
        <div class="cart__auto">
            Выбран автомобиль:
            <span>KIA Mohave/Borrego</span>
        </div>
    </div>

    <div class="cart-table">
        <div class="cart-table__row cart-table__row--header">
            <span class="number">№</span>
            <span class="title">Услуга</span>
            <span class="works">Работы</span>
            <span class="spares">Запчасти</span>
            <span class="price">Цена</span>
            <span class="sale">Скидка</span>
            <span class="total">Итог</span>
            <span class="remove"></span>
        </div>
        <div class="cart-table__row">
            <span class="number">1</span>
            <span class="title">
                Замена задних дисков и колодок (комплект)
                <button data-fancybox data-src="#modal-cart-order">Подробнее</button>
            </span>
            <span class="works">2 995 ₽</span>
            <span class="spares">3 044 ₽</span>
            <span class="price">4 485 ₽</span>
            <span class="sale">— 434 ₽</span>
            <span class="total">4 000 ₽</span>
            <span class="remove">
                <button class="cart-item-remove">
                    <svg width="24" height="24">
                        <use xlink:href="#remove"></use>
                    </svg>
                </button>
            </span>
        </div>
        <div class="cart-table__row">
            <span class="number">2</span>
            <span class="title">
                Замена задних дисков и колодок (комплект)
                <button data-fancybox data-src="#modal-cart-order">Подробнее</button>
            </span>
            <span class="clarify">Требует уточнения</span>
            <span class="remove">
                <button class="cart-item-remove">
                    <svg width="24" height="24">
                        <use xlink:href="#remove"></use>
                    </svg>
                </button>
            </span>
        </div>
        <div class="cart-table__row cart-table__row--footer">
            <span class="number"></span>
            <span class="title">Итого</span>
            <span class="clarify">Требует уточнения</span>
            <span class="remove"></span>
        </div>
    </div>

    <div class="cart__footer cart__footer--clarify">
        <div class="cart__buttons">
            <a href="appointment.html" class="cart__btn btn btn--red">Уточнить цену</a>
            <a href="appointment.html" class="cart__btn disabled btn btn--red">Выбрать время для записи</a>
        </div>
        <div class="cart__hint hint">
            Нажмите на кнопку «узнать цену». В течение 1–2ч менеджер актуализирует цены в корзине и сообщит вам об этом в СМС.
        </div>
    </div>
</div>
