<div class="cart">
    <div class="cart__header">
        <h1 class="cart__title">Корзина</h1>
        <div class="cart__auto">
            Выбран автомобиль:
            <span>KIA Mohave/Borrego</span>
        </div>
    </div>

    <div class="cart-table">
        <div class="cart-table__row cart-table__row--header">
            <span class="number">№</span>
            <span class="title">Услуга</span>
            <span class="works">Работы</span>
            <span class="spares">Запчасти</span>
            <span class="price">Цена</span>
            <span class="sale">Скидка</span>
            <span class="total">Итог</span>
            <span class="remove"></span>
        </div>
        <div class="cart-table__row">
            <span class="number">1</span>
            <span class="title">
                Замена задних дисков и колодок (комплект)
                <button data-fancybox data-src="#modal-cart-order">Подробнее</button>
            </span>
            <span class="works">2 995 ₽</span>
            <span class="spares">3 044 ₽</span>
            <span class="price">4 485 ₽</span>
            <span class="sale">— 434 ₽</span>
            <span class="total">4 000 ₽</span>
            <span class="remove">
                <button class="cart-item-remove">
                    <svg width="24" height="24">
                        <use xlink:href="#remove"></use>
                    </svg>
                </button>
            </span>
        </div>
        <div class="cart-table__row">
            <span class="number">2</span>
            <span class="title">
                Замена задних дисков и колодок (комплект)
                <button data-fancybox data-src="#modal-cart-order">Подробнее</button>
            </span>
            <span class="works">2 995 ₽</span>
            <span class="spares">3 044 ₽</span>
            <span class="price">4 485 ₽</span>
            <span class="sale">— 434 ₽</span>
            <span class="total">4 000 ₽</span>
            <span class="remove">
                <button class="cart-item-remove">
                    <svg width="24" height="24">
                        <use xlink:href="#remove"></use>
                    </svg>
                </button>
            </span>
        </div>
        <div class="cart-table__row cart-table__row--footer">
            <span class="number"></span>
            <span class="title">Итого</span>
            <span class="works">4 995 ₽</span>
            <span class="spares">6 044 ₽</span>
            <span class="price">10 876 ₽</span>
            <span class="sale">— 999 ₽</span>
            <span class="total">8 000 ₽</span>
            <span class="remove"></span>
        </div>
        <div class="cart-table__total">
           <div class="cart-table__total-row">
                <div class="cart-table__total-title">Работы</div>
                <div class="cart-table__total-price">4 000 ₽</div>
                <div class="cart-table__total-old">7 654 ₽</div>
           </div>
           <div class="cart-table__total-row">
                <div class="cart-table__total-title">Запчасти</div>
                <div class="cart-table__total-price">3 434 ₽</div>
                <div class="cart-table__total-old">5 455 ₽</div>
           </div>
           <div class="cart-table__total-row">
                <div class="cart-table__total-title">Итого</div>
                <div class="cart-table__total-price">10 455 ₽</div>
                <div class="cart-table__total-old">12 434 ₽</div>
           </div>
        </div>
    </div>

    <div class="cart__footer">
        <a href="appointment.html" class="cart__btn btn btn--red">Выбрать время для записи</a>
        <div class="cart__hint hint">
            Стоимость услуг конечная и не может быть увеличена
        </div>
    </div>
</div>
