<div class="service-banner">
    <div class="service-banner__wrapper">
        <div class="service-banner__title h3">
            Тормоза и подвеска
        </div>
        <div class="service-banner__text">
            Плохие дороги, реагенты, которыми их посыпают и питерская влажность — эти три фактора негативно влияют на все, что находится под машиной и под капотом. В первую очередь это подвеска и тормоза
        </div>
        <a href="#" class="service-banner__btn btn btn--red">
            Подробнее об услуге
        </a>
    </div>
</div>

