<form class="service-calc" action="#">
    <div class="service-calc__row">
        <div class="service-calc__item">
            <label for="select-auto">Автомобиль</label>
            <select name="select-auto" id="select-auto">
                <option value="Buick">Buick</option>
                <option value="Cadillac">Cadillac</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Chrysler">Chrysler</option>
                <option value="Dodge">Dodge</option>
                <option value="Ford">Ford</option>
                <option value="GMC">GMC</option>
                <option value="Hummer">Hummer</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Jeep">Jeep</option>
                <option value="Kia">Kia</option>
                <option value="Lincoln">Lincoln</option>
                <option value="Lexus">Lexus</option>
                <option value="Mercury">Mercury</option>
                <option value="Pontiac">Pontiac</option>
                <option value="Opel">Opel</option>
                <option value="Ssang-Yong">Ssang-Yong</option>
                <option value="Toyota">Toyota</option>
            </select>
        </div>
        <div class="service-calc__item">
            <label for="select-model">Модель</label>
            <select name="select-model" id="select-model">
                <option value="Aveo">Aveo</option>
                <option value="Aveo">Aveo</option>
                <option value="Aveo">Aveo</option>
            </select>
        </div>
        <div class="service-calc__item">
            <label for="select-complect">Комплектация</label>
            <select name="select-complect" id="select-complect">
                <option value="2011–2020 T300">2011–2020 T300</option>
                <option value="2011–2020 T300">2011–2020 T300</option>
                <option value="2011–2020 T300">2011–2020 T300</option>
            </select>
        </div>
    </div>
    <div class="service-calc__row">
        <div class="service-calc__item">
            <label for="select-repair">Категория</label>
            <select name="select-repair" id="select-repair">
                <option value="Ремонт подвески">Ремонт подвески</option>
                <option value="Ремонт подвески">Ремонт подвески</option>
                <option value="Ремонт подвески">Ремонт подвески</option>
            </select>
        </div>
        <div class="service-calc__item">
            <label for="select-service">Услуга</label>
            <select name="select-service" id="select-service">
                <option value="Замена вакуумного усилителя">Замена вакуумного усилителя</option>
                <option value="Замена вакуумного усилителя">Замена вакуумного усилителя</option>
                <option value="Замена вакуумного усилителя">Замена вакуумного усилителя</option>
            </select>
        </div>
    </div>
    <div class="service-calc__row">
        <div class="service-calc__item">
            <label for="select-option-1">Опция 1</label>
            <select name="select-option-1" id="select-option-1">
                <option value="Нет защиты двигателя">Нет защиты двигателя</option>
                <option value="Нет защиты двигателя">Нет защиты двигателя</option>
                <option value="Нет защиты двигателя">Нет защиты двигателя</option>
            </select>
        </div>
        <div class="service-calc__item">
            <label for="select-option-2">Опция 2</label>
            <select name="select-option-2" id="select-option-2">
                <option value="Нет защиты двигателя">Нет защиты двигателя</option>
                <option value="Нет защиты двигателя">Нет защиты двигателя</option>
                <option value="Нет защиты двигателя">Нет защиты двигателя</option>
            </select>
        </div>
        <div class="service-calc__item">
            <button type="submit" class="btn">
                Показать
            </button>
        </div>
    </div>
</form>
