<div class="service-footer">
    <div class="service-footer__content">
        <p>Гарантируем качественный ремонт с фиксированной стоимостью в указанном объёме без дополнительных и скрытых затрат</p>
        <p>Не передаём ваши данные третьим лицам и не используем их для предложения других услуг</p>
    </div>
</div>

<div class="service-files">
    <a href="img/base/logo.svg" class="service-file" download>Список файлов.png</a>
    <a href="img/base/logo.svg" class="service-file" download>Список файлов.png</a>
    <a href="img/base/logo.svg" class="service-file" download>Список файлов.png</a>
</div>
