<div class="sidebar service-price">
    <div class="service-price__title h3">
        Стоимость
    </div>
    <div class="service-price__content">
        <div class="service-price__items">
            <div class="service-price__row">
                <span class="price-title">Услуги</span>
                <span class="new-price">16 199 ₽</span>
                <span class="old-price">20 199 ₽</span>
            </div>
            <div class="service-price__row">
                <span class="price-title">Запчасти</span>
                <span class="new-price">8 199 ₽</span>
                <span class="old-price">8 199 ₽</span>
            </div>
            <div class="service-price__row d-none-sm">
                <span class="price-title">Скидка</span>
                <span class="new-price">8 199 ₽</span>
                <span class="old-price">8 199 ₽</span>
            </div>
        </div>
        <div class="service-price__total">
            <div class="service-price__row">
                <span class="price-title">Итого</span>
                <span class="new-price">16 199 ₽</span>
                <span class="old-price">20 199 ₽</span>
            </div>
            <a href="#" class="service-price__btn btn btn--red">
                В корзину
            </a>
        </div>
    </div>
</div>
