<div class="sidebar sidebar-price service-price">
    <div class="sidebar-price__title h3">
        Стоимость
    </div>
    <div class="sidebar-price__content">
        <div class="sidebar-price__items">
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Услуги</span>
                <span class="sidebar-price__sum">16 199 ₽</span>
            </div>
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Запчасти</span>
                <span class="sidebar-price__sum">8 199 ₽</span>
            </div>
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Скидка</span>
                <span class="sidebar-price__sum">8 199 ₽</span>
            </div>
        </div>
        <div class="sidebar-price__total">
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Итого</span>
                <span class="sidebar-price__sum">6 989 ₽</span>
            </div>
            <a href="#" class="sidebar-price__btn btn btn--red">
                В корзину
            </a>
        </div>
    </div>
</div>
