<div class="sidebar sidebar-contacts">
    <div class="sidebar-contacts__title h3">
        Свяжитесь с нами
    </div>
    <div class="sidebar-contacts__list">
        <div class="sidebar-contacts__row">
            <svg width="16" height="16">
                <use xlink:href="#service-clock"></use>
            </svg>
            8:00–24:00
        </div>
        <div class="sidebar-contacts__row">
            <svg width="16" height="16">
                <use xlink:href="#service-phone"></use>
            </svg>
            +7 (663) 999 99 99
        </div>
    </div>
</div>

<div class="sidebar sidebar-price">
    <div class="sidebar-price__title h3">
        Стоимость
    </div>
    <div class="sidebar-price__content">
        <div class="sidebar-price__items">
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Услуги</span>
                <span class="sidebar-price__sum">16 199 ₽</span>
            </div>
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Запчасти</span>
                <span class="sidebar-price__sum">8 199 ₽</span>
            </div>
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Скидка</span>
                <span class="sidebar-price__sum">8 199 ₽</span>
            </div>
        </div>
        <div class="sidebar-price__total">
            <div class="sidebar-price__row">
                <span class="sidebar-price__span">Итого</span>
                <span class="sidebar-price__sum">6 989 ₽</span>
            </div>
            <a href="#" class="sidebar-price__btn btn btn--red">
                В корзину
            </a>
        </div>
    </div>
</div>
