<div class="service-works">
    <h2 class="service-works__title">
        Замена вакуумного усилителя
    </h2>
    <div class="service-works__text">
        Список работ и запчастей используемых при ремонте
    </div>
    <div class="service-works__items">
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check">
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-works">
    <h2 class="service-works__title">
        Запчасти
    </h2>
    <div class="service-works__items">
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Деталей</span>
                        <span class="value">2 шт</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
                <div class="service-item__self">
                    <div class="service-item__row">
                        <label for="self-service-1" class="span">Привезу свою</label>
                        <input type="checkbox" name="self-service" id="self-service-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__hint">
                        <div class="service-item__hint-title">
                            Требуется уточнение
                        </div>
                        <div class="service-item__hint-text">
                            Менеджер актуализирует цену в корзине после сверки с поставщиком
                        </div>
                    </div>
                </div>
                <div class="service-item__self">
                    <div class="service-item__row">
                        <label for="self-service-2" class="span">Привезу свою</label>
                        <input type="checkbox" name="self-service" id="self-service-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Деталей</span>
                        <span class="value">2 шт</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
                <div class="service-item__self">
                    <div class="service-item__row">
                        <label for="self-service-3" class="span">Привезу свою</label>
                        <input type="checkbox" name="self-service" id="self-service-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Деталей</span>
                        <span class="value">2 шт</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
                <div class="service-item__self">
                    <div class="service-item__row">
                        <label for="self-service-4" class="span">Привезу свою</label>
                        <input type="checkbox" name="self-service" id="self-service-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check"
                checked>
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Деталей</span>
                        <span class="value">2 шт</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
                <div class="service-item__self">
                    <div class="service-item__row">
                        <label for="self-service-5" class="span">Привезу свою</label>
                        <input type="checkbox" name="self-service" id="self-service-5">
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            <input
                type="checkbox"
                name="service-item"
                class="service-item__check">
            <div class="service-item__wrapper">
                <div class="service-item__title">
                    Замена задних дисков с&nbsp;подменой колодочного диска
                </div>
                <div class="service-item__content">
                    <div class="service-item__row">
                        <span class="span">Деталей</span>
                        <span class="value">2 шт</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Цена</span>
                        <span class="value">4 343 ₽</span>
                    </div>
                    <div class="service-item__row">
                        <span class="span">Скидка</span>
                        <span class="value">50%</span>
                    </div>
                </div>
                <div class="service-item__total">
                    <div class="service-item__row">
                        <span class="span">Итого</span>
                        <span class="total">4 343 ₽</span>
                    </div>
                </div>
                <div class="service-item__self">
                    <div class="service-item__row">
                        <label for="self-service-6" class="span">Привезу свою</label>
                        <input type="checkbox" name="self-service" id="self-service-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
