<section class="home-advantages section">
    <div class="container">
        <h2 class="h1">Наши преимущества</h2>
        <div class="home-adv-slider wow fadeInUp">
            <div class="swiper-wrapper">
                <div class="home-adv-slide swiper-slide wow fadeInUp"
                     data-wow-delay="0">
                    <div class="home-adv-slide__content">
                        <div class="home-adv-slide__title h3">
                            Возвращаем детали
                        </div>
                        <div class="home-adv-slide__text">
                            Не навязываем лишнего,<br> возвращаем неисправные детали, объясняем
                        </div>
                    </div>
                    <div class="home-adv-slide__img">
                        <img src="img/base/home/advantage-1.png" alt="">
                    </div>
                </div>
                <div class="home-adv-slide swiper-slide wow fadeInUp"
                     data-wow-delay="100">
                    <div class="home-adv-slide__content">
                        <div class="home-adv-slide__title h3">
                            Обучаем
                        </div>
                        <div class="home-adv-slide__text">
                            Общаемся вежливо и внимательно. При желании обучаем владельца тонкостям устройства автомобиля
                        </div>
                    </div>
                    <div class="home-adv-slide__img">
                        <img src="img/base/home/advantage-2.png" alt="">
                    </div>
                </div>
                <div class="home-adv-slide home-adv-slide--blue swiper-slide wow fadeInUp"
                     data-wow-delay="200">
                    <div class="home-adv-slide__content">
                        <div class="home-adv-slide__title h3">
                            Гостеприимные
                        </div>
                        <div class="home-adv-slide__text">
                            Угощаем горячими напитками и сладостями в уютной зоне отдыха
                        </div>
                    </div>
                    <div class="home-adv-slide__img">
                        <img src="img/base/home/advantage-3.png" alt="">
                    </div>
                </div>
                <div class="home-adv-slide swiper-slide wow fadeInUp"
                     data-wow-delay="300">
                    <div class="home-adv-slide__content">
                        <div class="home-adv-slide__title h3">
                            Ремзоны
                        </div>
                        <div class="home-adv-slide__text">
                            Отдельные  ремзоны для «американцев», «корейцев» и «японцев» с новейшим оборудованием
                        </div>
                    </div>
                    <div class="home-adv-slide__img">
                        <img src="img/base/home/advantage-4.png" alt="">
                    </div>
                    <img src="img/vector/remzona.svg" alt="" class="home-adv-slide__icon">
                </div>
                <div class="home-adv-slide swiper-slide wow fadeInUp"
                     data-wow-delay="400">
                    <div class="home-adv-slide__content">
                        <div class="home-adv-slide__title h3">
                            Гарантия
                        </div>
                        <div class="home-adv-slide__text">
                            Даем гарантию на работы 24 месяца. гарантия на запчасти в зависимости от каждой позиции
                        </div>
                    </div>
                    <div class="home-adv-slide__img">
                        <img src="img/base/home/advantage-5.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>
