<section class="home-hero section">
    <div class="container">
        <h1 class="visually-hidden">Solvik — сервис с душой</h1>
        <div class="home-hero-slider wow fadeInUp">
            <div class="swiper-wrapper">
                <div class="home-hero-slide swiper-slide">
                    <div class="home-hero-slide__content">
                        <div class="home-hero-slide__title h1">
                            От ТО до ТО<br> уверены в авто
                        </div>
                        <div class="home-hero-slide__text">
                            Занимаемся обслуживанием и ремонтом американских,<br> корейских и японских автомобилей
                        </div>
                        <a href="#" class="home-hero-slide__btn btn btn--red">
                            Узнать цену ремонта
                        </a>
                    </div>
                    <div class="home-hero-slide__img">
                        <img src="img/base/home/hero-slider-1.png" alt="">
                    </div>
                </div>
                <div class="home-hero-slide swiper-slide">
                    <div class="home-hero-slide__content">
                        <div class="home-hero-slide__title h1">
                            Ремонт и ТО<br> с комфортом<br> для вас и авто
                        </div>
                        <div class="home-hero-slide__text">
                            Занимаемся обслуживанием и ремонтом американских,<br> корейских и японских автомобилей
                        </div>
                        <a href="#" class="home-hero-slide__btn btn btn--red">
                            Узнать цену ремонта
                        </a>
                    </div>
                    <div class="home-hero-slide__img">
                        <img src="img/base/home/hero-slider-2.png" alt="">
                    </div>
                </div>
                <div class="home-hero-slide swiper-slide">
                    <div class="home-hero-slide__content">
                        <div class="home-hero-slide__title h1">
                            Надежность ремонта<br> и забота от нас
                        </div>
                        <div class="home-hero-slide__text">
                            Занимаемся обслуживанием и ремонтом американских,<br> корейских и японских автомобилей
                        </div>
                        <a href="#" class="home-hero-slide__btn btn btn--red">
                            Узнать цену ремонта
                        </a>
                    </div>
                    <div class="home-hero-slide__img">
                        <img src="img/base/home/hero-slider-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
