<section class="home-items section">
    <div class="container">
        <h2 class="home-items__title title-big">
            Доверьте <span>автомобиль</span> профессионалам
        </h2>
        <div class="home-items__list">
            <div class="home-item">
                <div class="home-item__content wow fadeInUp">
                    <h3 class="home-item__title h1">
                        Профессиональная команда
                    </h3>
                    <div class="home-item__text">
                        Наши эксперты отлично разбираются в проблемах американских, японских и корейских машин. Каждый специалист работает только с конкретной линейкой автомобилей, поэтому в совершенстве знает особенности и специфику определенного бренда. Профильные навыки обеспечивают скорость и качество ремонта.
                    </div>
                </div>
                <div class="home-item__img wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-1.jpg" alt="">
                </div>
                <div class="home-item__img d-none-mob wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-2.jpg" alt="">
                </div>
            </div>
            <div class="home-item">
                <h3 class="home-item__title h1 wow fadeInUp">
                    Качественное и душевное обслуживание
                </h3>
                <div class="home-item__text wow fadeInUp">
                    Уверенность в надежности автомобиля возможна только тогда, когда вы полностью доверяете людям, которые его обслуживают. Наши принципы — честность, человечность, качество и забота о вашем комфорте. Мы гарантируем компетентность и внимательное отношение персонала.
                </div>
                <div class="home-item__img wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-3.jpg" alt="">
                </div>
                <div class="home-item__icon d-none-mob wow fadeInUp" data-wow-delay="100">
                    <img src="img/vector/car.svg" alt="">
                </div>
            </div>
            <div class="home-item">
                <div class="home-item__content wow fadeInUp">
                    <h3 class="home-item__title h1">
                        Видеонаблюдение
                    </h3>
                    <div class="home-item__text">
                        Bидео доступно для вас на любом этапе ремонта, для каждого автомобиля, во всех ремонтных зонах. 28 камер покрывают 100% территории сервиса и прилегающих парковок.
                    </div>
                </div>
                <div class="home-item__img wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-4.png" alt="">
                </div>
                <div class="home-item__icon d-none-mob wow fadeInUp" data-wow-delay="100">
                    <img src="img/vector/star.svg" alt="">
                </div>
            </div>
            <div class="home-item">
                <div class="home-item__content wow fadeInUp">
                    <h3 class="home-item__title h1">
                        Честная и долгая гарантия
                    </h3>
                    <div class="home-item__text">
                        Чувствуйте себя за рулем безопасно и уверенно. Мы даем 24 месяца гарантии на все работы . Гарантию на материалы указываем в заказ-наряде по каждой позиции отдельно. Не ждите поломок — приходите к нам на ТО.
                    </div>
                </div>
                <div class="home-item__img wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-5.png" alt="">
                </div>
                <div class="home-item__img d-none-mob wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-6.jpg" alt="">
                </div>
                <div class="home-item__icon d-none-mob wow fadeInUp" data-wow-delay="100">
                    <img src="img/vector/star.svg" alt="">
                </div>
            </div>
            <div class="home-item">
                <h3 class="home-item__title h1 wow fadeInUp">
                    Наличие запчастей
                </h3>
                <div class="home-item__text wow fadeInUp">
                    Благодаря узкой специализации нам не нужно искать запчасти для широкого спектра автомобилей. У нас есть запас комплектующих для американских, японских и корейских машин. Мы точно знаем сроки поставки и предусматриваем доставку в срок, чтобы сразу приступить к ремонту.
                </div>
                <div class="home-item__img wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-7.jpg" alt="">
                </div>
            </div>
            <div class="home-item">
                <h3 class="home-item__title h1 wow fadeInUp">
                    Инновационный сервис
                </h3>
                <div class="home-item__text wow fadeInUp">
                    Видео доступно для вас на любом этапе ремонта, для каждого автомобиля, во всех ремонтных зонах. 28 камер покрывают 100% территории сервиса и прилегающих парковок.
                </div>
                <div class="home-item__img wow fadeInUp" data-wow-delay="100">
                    <img src="img/base/home/photo-8.png" alt="">
                </div>
                <div class="home-item__icon d-none-mob wow fadeInUp" data-wow-delay="100">
                    <img src="img/vector/star.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
