<section class="home-requests section">
    <div class="container">
        <h2 class="home-requests__title h1 wow fadeInUp">Запишитесь в автосервис</h2>
        <div class="home-requests__list">
            <div class="home-request wow fadeInUp" data-wow-delay="100">
                <div class="home-request__icon">
                    <img src="img/vector/rouble.svg" alt="">
                </div>
                <div class="home-request__title h3">
                    Фиксированная стоимость
                </div>
                <div class="home-request__text">
                    На сайте есть подробная информация с детализацией всех видов ремонтов и ТО. Если вы точно знаете, что именно вам нужно, то можете посчитать стоимость здесь или в <a href="#">Телеграм боте</a>
                </div>
                <a href="#" class="home-request__btn btn btn--red">
                    Узнать цену ремонта
                </a>
            </div>
            <div class="home-request wow fadeInUp" data-wow-delay="200">
                <div class="home-request__icon">
                    <img src="img/vector/screwdriver.svg" alt="">
                </div>
                <div class="home-request__title h3">
                    Диагностика автомобиля
                </div>
                <div class="home-request__text">
                    Если вы не можете разобраться, что сломалось в машине, с какой проблемой к нам обращаться и хотите сначала обсудить проблемы со специалистом
                </div>
                <a href="#" class="home-request__btn btn btn--red">
                    Записаться на диагностику
                </a>
            </div>
        </div>
    </div>
</section>
