.contacts-reviews {
  padding: 30px 0 60px;

  @include media-up(md) {
    padding: 40px 0 80px;
  }

  @include media-up(xl) {
    padding: 50px 0 120px;
  }

  &__list {
    display: flex;
    gap: 12px;
    @include overscroll;

    @include media-up(md) {
      gap: 16px;
    }

    @include media-up(xl) {
      gap: 32px;
    }
  }
}

.contacts-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: calc((100% - 12px) / 2);
  height: 56px;
  border-radius: 16px;
  font-family: $font-title;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;

  @include media-up(sm) {
    width: calc((100% - 24px) / 3);
  }

  @include media-up(md) {
    width: calc((100% - 64px) / 4);
    height: 64px;
    border-radius: 24px;
    font-size: 18px;
    line-height: 28px;
  }

  @include media-up(lg) {
    width: calc((100% - 64px) / 5);
  }

  @include media-up(xl) {
    width: calc((100% - 128px) / 5);
    height: 78px;
    font-size: 20px;
    line-height: 30px;
  }

  &:first-child:not(:hover) {
    background: $color-blue;
    color: #fff;
  }
}
