<section class="contacts-gallery">
    <h2 class="contacts-gallery__title h1">Наш СТО</h2>
    <a href="#" class="contacts-gallery__3d btn btn--red">
        3D тур
    </a>
    <div class="contacts-gallery__slider">
        <div class="swiper-wrapper">
            <div class="contacts-gallery-slide swiper-slide"
                 data-fancybox="gallery"
                 data-src="img/base/contacts/sto.jpg">
                <img src="img/base/contacts/sto.jpg" alt="">
            </div>
            <div class="contacts-gallery-slide swiper-slide"
                 data-fancybox="gallery"
                 data-src="img/base/contacts/sto.jpg">
                <img src="img/base/contacts/sto.jpg" alt="">
            </div>
            <div class="contacts-gallery-slide swiper-slide"
                 data-fancybox="gallery"
                 data-src="img/base/contacts/sto.jpg">
                <img src="img/base/contacts/sto.jpg" alt="">
            </div>
            <div class="contacts-gallery-slide swiper-slide"
                 data-fancybox="gallery"
                 data-src="img/base/contacts/sto.jpg">
                <img src="img/base/contacts/sto.jpg" alt="">
            </div>
            <div class="contacts-gallery-slide swiper-slide"
                 data-fancybox="gallery"
                 data-src="img/base/contacts/sto.jpg">
                <img src="img/base/contacts/sto.jpg" alt="">
            </div>
        </div>
        <div class="swiper-navigation">
            <div class="swiper-button swiper-button--prev">
                <svg width="9" height="15">
                    <use xlink:href="#slider-arrow"></use>
                </svg>
            </div>
            <div class="swiper-button swiper-button--next">
                <svg width="9" height="15">
                    <use xlink:href="#slider-arrow"></use>
                </svg>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
