<section class="contacts-hero">
    <h1>Контакты</h1>
    <div class="contacts-hero__wrapper">
        <iframe src="https://yandex.com/map-widget/v1/?um=constructor%3Aa5106a09c8f86d91309261c6caa9cfbe61cee6db9dbaa1754065f9bd8afb4380&amp;source=constructor"
                frameborder="0"
                allowfullscreen="true"
                class="contacts-hero__map"></iframe>
        <a href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.422611%2C59.878560&mode=routes&rtext=~59.888239%2C30.383511&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzQ0MDMzNBJN0KDQvtGB0YHQuNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KHQvtGE0LjQudGB0LrQsNGPINGD0LvQuNGG0LAsIDIiCg1wEfNBFY6Nb0I%3D&z=11.86"
           target="_blank"
           class="contacts-hero__route-btn btn btn--light">
           Построить маршрут
        </a>
        <div class="contacts-hero__info">
            <div class="contacts-hero__info-title h3">
                Контактная информация
            </div>
            <ul class="contacts-hero__info-list">
                <li>
                    <svg width="16" height="16">
                        <use xlink:href="#contacts-map"></use>
                    </svg>
                    г. Санкт-Петербург, ул. Софийская, д. 2, к. 1
                </li>
                <li>
                    <svg width="16" height="16">
                        <use xlink:href="#contacts-time"></use>
                    </svg>
                    Время работы : пн-вс 8:00 - 24:00
                </li>
                <li>
                    <svg width="16" height="16">
                        <use xlink:href="#contacts-phone"></use>
                    </svg>
                    <a href="tel:+7(812)6147820">
                        +7 (812) 614 78 20
                    </a>
                </li>
                <li>
                    <svg width="16" height="16">
                        <use xlink:href="#contacts-email"></use>
                    </svg>
                    <a href="mailto:service@americar.spb.ru">
                        service@americar.spb.ru
                    </a>
                </li>
                <li>
                    <svg width="16" height="16">
                        <use xlink:href="#contacts-vk"></use>
                    </svg>
                    <a href="#">Мы Вконтакте</a>
                </li>
                <li>
                    <svg width="16" height="16">
                        <use xlink:href="#contacts-inst"></use>
                    </svg>
                    <a href="#">Мы в Instagram</a>
                </li>
                <li>
                    <svg width="16" height="16">
                        <use xlink:href="#contacts-corona"></use>
                    </svg>
                    <a href="#">Меры против коронавируса</a>
                </li>
            </ul>
        </div>
    </div>
</section>
