<section class="contacts-reviews">
    <h2 class="h1">Отзывы о нас есть на площадках</h2>
    <div class="contacts-reviews__list inline-scroll">
        <a href="#" class="contacts-review btn btn--light">
            Яндекс
        </a>
        <a href="#" class="contacts-review btn btn--light">
            Google
        </a>
        <a href="#" class="contacts-review btn btn--light">
            Vkontakte
        </a>
        <a href="#" class="contacts-review btn btn--light">
            Zoon
        </a>
        <a href="#" class="contacts-review btn btn--light">
            2Gis
        </a>
        <a href="#" class="contacts-review btn btn--light">
            Отзовик
        </a>
    </div>
</section>
