<section class="contacts-schemes">
    <h2 class="h1">Схемы проезда</h2>
    <div class="contacts-schemes__list inline-scroll">
        <div class="contacts-scheme">
            <div class="contacts-scheme__wrapper">
                <img src="img/base/contacts/video-preview.jpg" alt="">
                <div class="contacts-scheme__video"
                     data-fancybox
                     data-src="https://www.youtube.com/watch?v=rl-FH-5nzGA">
                    <svg width="63" height="60">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="contacts-scheme__title">
                Как проехать в Америкар со стороны проспекта Славы
            </div>
        </div>
        <div class="contacts-scheme">
            <div class="contacts-scheme__wrapper">
                <img src="img/base/contacts/video-preview.jpg" alt="">
                <div class="contacts-scheme__video"
                     data-fancybox
                     data-src="https://www.youtube.com/watch?v=rl-FH-5nzGA">
                    <svg width="63" height="60">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="contacts-scheme__title">
                Как проехать в Америкар со стороны проспекта Славы
            </div>
        </div>
        <div class="contacts-scheme">
            <div class="contacts-scheme__wrapper">
                <img src="img/base/contacts/video-preview.jpg" alt="">
                <div class="contacts-scheme__video"
                     data-fancybox
                     data-src="https://www.youtube.com/watch?v=rl-FH-5nzGA">
                    <svg width="63" height="60">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="contacts-scheme__title">
                Как проехать в Америкар со стороны проспекта Славы
            </div>
        </div>
        <div class="contacts-scheme">
            <div class="contacts-scheme__wrapper">
                <img src="img/base/contacts/video-preview.jpg" alt="">
                <div class="contacts-scheme__video"
                     data-fancybox
                     data-src="https://www.youtube.com/watch?v=rl-FH-5nzGA">
                    <svg width="63" height="60">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="contacts-scheme__title">
                Как проехать в Америкар со стороны проспекта Славы
            </div>
        </div>
        <div class="contacts-scheme">
            <div class="contacts-scheme__wrapper">
                <img src="img/base/contacts/video-preview.jpg" alt="">
                <div class="contacts-scheme__video"
                     data-fancybox
                     data-src="https://www.youtube.com/watch?v=rl-FH-5nzGA">
                    <svg width="63" height="60">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="contacts-scheme__title">
                Как проехать в Америкар со стороны проспекта Славы
            </div>
        </div>
        <div class="contacts-scheme">
            <div class="contacts-scheme__wrapper">
                <img src="img/base/contacts/video-preview.jpg" alt="">
                <div class="contacts-scheme__video"
                     data-fancybox
                     data-src="https://www.youtube.com/watch?v=rl-FH-5nzGA">
                    <svg width="63" height="60">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="contacts-scheme__title">
                Как проехать в Америкар со стороны проспекта Славы
            </div>
        </div>
        <div class="contacts-scheme">
            <div class="contacts-scheme__wrapper">
                <img src="img/base/contacts/video-preview.jpg" alt="">
                <div class="contacts-scheme__video"
                     data-fancybox
                     data-src="https://www.youtube.com/watch?v=rl-FH-5nzGA">
                    <svg width="63" height="60">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="contacts-scheme__title">
                Как проехать в Америкар со стороны проспекта Славы
            </div>
        </div>
    </div>
</section>
