.service-footer {
  position: relative;
  width: 100%;
  @include fz12-14-14;
  order: 1;

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 28px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: url(../img/icon/exclaim.svg) center no-repeat;
    background-size: 2px;
    background-color: $color-light;
    border-radius: 50%;

    @include media-up(md) {
      top: 24px;
      left: 36px;
      width: 32px;
      height: 32px;
      background-size: 4px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0;
    right: 0;
    bottom: -8px;
    display: block;
    background: $color-blue;
    border-radius: 24px;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #FFF;
    padding: 24px 24px 24px 48px;
    border: 1px solid $color-blue;
    border-radius: 24px;
    color: $color-blue;

    @include media-up(md) {
      padding: 24px 84px 16px;
    }

    @include media-up(xl) {
      padding-right: 160px;
    }
  }
}
