.service-work {
  display: flex;
  flex-direction: column;
  background: $color-light;
  border-radius: 12px;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;

  &__img {
    display: block;
    height: 156px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;

    @include media-down(sm) {
      display: none;
    }

    &:hover img {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
      transition: transform .5s;
    }
  }

  &__content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 24px;

    @include media-up(md) {
      padding-top: 16px;
    }
  }

  &__title {
    display: block;
    font-weight: 500;
    margin-bottom: 2px;
    @include link;
  }

  &__works {
    @include fz12-14;
    margin-bottom: 12px;
  }

  &__total {
    font-family: $font-title;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: $color-red;
    margin-bottom: 16px;
  }

  &__btns {
    display: flex;
    gap: 8px;
    margin-top: auto;
  }

  &__btn {
    min-width: unset;
    flex: 1 1 0;
    padding: 7px 0;
    font-size: 14px;
    line-height: 26px;
  }
}
