.service-work {
  $self: &;
  display: flex;
  flex-direction: column;
  background: $color-light;
  border-radius: 12px;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;

  &__img {
    display: block;
    height: 156px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;

    @include media-down(sm) {
      display: none;
    }

    &:hover img {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
      transition: transform .5s;
    }
  }

  &__content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 24px;

    @include media-up(md) {
      padding-top: 16px;
    }
  }

  &__title {
    display: block;
    font-weight: 500;
    margin-bottom: 2px;
    @include link;
  }

  &__works {
    @include fz12-14;
    margin-bottom: 12px;
  }

  &__total {
    font-family: $font-title;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: $color-red;
    margin-bottom: 16px;
  }

  &__hint {
    margin-top: auto;

    & ~ #{$self}__btns {
      margin-top: 0;
    }

    &-title {
      position: relative;
      padding-left: 36px;
      color: $color-blue;
      font-weight: 500;
      margin-bottom: 12px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        background: url(../img/icon/hint-yellow.svg) center / contain no-repeat;

        @include media-up(md) {
          top: 1px;
          width: 24px;
          height: 24px;
        }

        @include media-up(xl) {
          top: 2px;
        }
      }
    }
  }

  &__btns {
    display: flex;
    gap: 8px;
    margin-top: auto;
  }

  &__btn {
    min-width: unset;
    flex: 1 1 0;
    padding: 7px 0;
    font-size: 14px;
    line-height: 26px;
  }
}
