.service-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media-up(md) {
    gap: 40px;
  }

  @include media-up(xl) {
    gap: 60px;
  }

  & > .service-price {
    @include media-up(xl) {
      display: none;
    }
  }
}

.page-sidebar {
  .service-price {
    @include media-down(lg) {
      display: none;
    }
  }
}
