<div class="sidebar sidebar-features">
    <div class="sidebar-features__title h3">
        Почему Solvik
    </div>
    <div class="sidebar-features__list">
        <div class="sidebar-features__item">
            <svg width="36" height="36">
                <use xlink:href="#feature-hat"></use>
            </svg>
            Узкая специализация
        </div>
        <div class="sidebar-features__item">
            <svg width="36" height="36">
                <use xlink:href="#feature-24"></use>
            </svg>
            24 месяца гарантии
        </div>
        <div class="sidebar-features__item">
            <svg width="36" height="36">
                <use xlink:href="#feature-wait"></use>
            </svg>
            Удобная зона ожидания
        </div>
        <div class="sidebar-features__item">
            <svg width="36" height="36">
                <use xlink:href="#feature-price"></use>
            </svg>
            Гарантия точной цены
        </div>
        <div class="sidebar-features__item">
            <svg width="36" height="36">
                <use xlink:href="#feature-eyes"></use>
            </svg>
            Внимательны ко всем
        </div>
        <div class="sidebar-features__item">
            <svg width="36" height="36">
                <use xlink:href="#feature-screw"></use>
            </svg>
            Обучаем желающих
        </div>
    </div>
</div>
