.service-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
  border-top: 1px solid $color-border-2;
  order: 1;

  @include media-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 40px;
  }

  @include media-up(xl) {
    padding-top: 60px;
  }
}

.service-file {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  padding: 14px 19px 14px 55px;
  @include link;
  background: url(../img/icon/file-wrap.svg) center / contain no-repeat;

  @include media-only(md) {
    font-size: 14px;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 16px;
    left: 19px;
    width: 24px;
    height: 24px;
    background: url(../img/icon/file.svg) center no-repeat;
  }
}
