.service-footer {
  width: 100%;
  margin-bottom: 10px;
  padding: 24px;
  background: $color-white;
  border: solid $color-blue;
  border-width: 1px 1px 8px 1px;
  border-radius: 24px;
  color: $color-blue;
  order: 1;

  @include media-up(md) {
    padding: 24px 36px;
  }
}
