<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__main">
                <div class="footer__logos">
                    <a href="/" class="footer__logo">
                        <img src="img/logo/logo-white.svg" alt="">
                    </a>
                    <div class="footer__service">
                        <img src="img/logo/service-logo-white.svg" alt="">
                    </div>
                </div>
                <div class="footer__call">
                    <p>Бесплатный звонок</p>
                    <a href="tel:+7 (663) 999 99 99">+7 (663) 999 99 99</a>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer__title h3">Меню</div>
                <nav class="footer__nav">
                    <ul>
                        <li><a href="#">Ремонт</a></li>
                        <li><a href="#">ТО</a></li>
                        <li><a href="#">Диагностика</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Новости</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__block">
                <div class="footer__title h3">Контакты</div>
                <div class="footer__contacts">
                    <p>г. Санкт-Петербург, улица, дом. 4</p>
                    <p>Время работы: пн-вс 8:00–24:00</p>
                    <p><a href="mailto:name@gmail.com">name@gmail.com</a> по всем попросам</p>
                </div>
                <div class="footer__socials socials">
                    <!-- <a href="https://www.instagram.com/"
                       class="social"
                       target="_blank"
                       rel="noopener noreferrer nofollow"
                       title="Instagram">
                        <svg width="32" height="32">
                            <use xlink:href="#instagram"></use>
                        </svg>
                        <span>*</span>
                    </a> -->
                    <a href="http://vk.com/"
                       class="social"
                       target="_blank"
                       rel="noopener noreferrer nofollow"
                       title="VK">
                        <svg width="32" height="32">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__copy">
                @ Sokvik , 2021
            </div>
            <div class="footer__payment">
                <span>Мы принимаем к оплате:</span>
                <img src="img/icon/visa.png" alt="">
                <img src="img/icon/mastercard.png" alt="">
            </div>
            <div class="footer__authors">
                <span>Сделано в</span>
                <img src="img/icon/serenity.svg" alt="">
            </div>
        </div>
    </div>
</footer>

<script src="js/app.bundle.js"></script>
</body>
</html>
