<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__main">
                <a href="/" class="footer__logo">
                    <img src="img/base/logo-white.svg" alt="">
                </a>
                <div class="footer__service">
                    <img src="img/base/service-white.svg" alt="">
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__title h3">Меню</div>
                <nav class="footer__nav">
                    <ul>
                        <li><a href="#">Ремонт</a></li>
                        <li><a href="#">ТО</a></li>
                        <li><a href="#">Диагностика</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Новости</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__bottom">

        </div>
    </div>
</footer>

<script src="js/app.bundle.js"></script>
</body>
</html>
