<div class="modal modal--notice" id="modal-recover-tel">
    <div class="modal__title">
        Востановление пароля
    </div>
    <form action="#" class="form">
        <div class="modal__text">
            Номер телефона не найден.<br> Проверьте номер или попробуйте<br> восстановить доступ по почте.
        </div>
        <button class="modal__btn btn btn--red" role="button" data-fancybox-close>
            Назад
        </button>
    </form>
</div>

<div class="modal modal--notice" id="modal-error-tel">
    <div class="modal__title">
        Ошибка
    </div>
    <div class="modal__text">
        Номер телефона не найден.<br> Проверьте номер или попробуйте<br> восстановить доступ по почте.
    </div>
    <button class="modal__btn btn btn--red" role="button" data-fancybox-close>
        Назад
    </button>
</div>

<div class="modal modal--notice" id="modal-error-email">
    <div class="modal__title">
        Ошибка
    </div>
    <div class="modal__text">
        Указанная почта не найдена.<br> Проверьте почту или попробуйте<br> восстановить доступ по телефону.
    </div>
    <button class="modal__btn btn btn--red" role="button" data-fancybox-close>
        Назад
    </button>
</div>

<div class="modal modal--notice" id="modal-success-tel">
    <div class="modal__title">
        Успешно
    </div>
    <div class="modal__text">
        На ваш телефон выслан пароль<br> в личный кабинет
    </div>
    <button class="modal__btn btn btn--red" role="button" data-fancybox-close>
        Понятно
    </button>
</div>

<div class="modal modal--notice" id="modal-success-email">
    <div class="modal__title">
        Успешно
    </div>
    <div class="modal__text">
        Скоро на вашу почту придут данные<br> для входа в личный кабинет
    </div>
    <button class="modal__btn btn btn--red" role="button" data-fancybox-close>
        Понятно
    </button>
</div>

<div class="modal modal--notice" id="modal-success-director">
    <div class="modal__title">
        Успешно
    </div>
    <div class="modal__text">
        Спасибо, директор получил ваше<br> письмо и в скором времени вам ответит
    </div>
    <button class="modal__btn btn btn--red" role="button" data-fancybox-close>
        Понятно
    </button>
</div>

<div class="modal modal--small" id="modal-car-remove">
    <div class="modal__title">
        Пожалуйста,<br> подтвердите
    </div>
    <div class="modal__text">
        Вы действительно хотите удалить<br> автомобиль из гаража?
    </div>
    <div class="modal__buttons">
        <button class=" btn btn--red" role="button">
            Удалить
        </button>
        <button class=" btn" role="button" data-fancybox-close>
            Отменить
        </button>
    </div>
</div>
