.diagnostic-main {
  @include section-pad;
  background: $color-light;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include media-up(md) {
      gap: 60px;
      flex-direction: row;
      align-items: flex-start;
    }

    @include media-up(xl) {
      gap: 140px;
    }
  }

  &__content {
    color: $color-blue;

    @include media-up(md) {
      flex: 1 1 0;
      max-width: 610px;
    }

    .btn {
      margin-top: 32px;

      @include media-up(md) {
        margin-top: 40px;
      }
    }
  }

  &__img {
    @include media-up(md) {
      width: 50%;
    }

    @include media-up(xl) {
      width: 450px;
      flex-shrink: 0;
    }
  }
}
