.nav {
  @include nav;

  @include media-down(lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .show-nav & {
      transform: translateX(0);
    }
  }

  a {
    @include link;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }

  &__list {
    @include media-up(xl) {
      display: flex;
      align-items: center;
    }

    @include media-down(lg) {
      margin-bottom: 16px;
    }

    & > li {
      @include media-down(lg) {
        padding: 16px 0;
        border-bottom: 1px solid $color-border;
      }

      @include media-up(xl) {
        &:not(:last-child) {
          margin-right: 40px;
        }

        &.menu-item-hidden {
          display: none;
        }
      }
    }
  }

  &__contacts {
    margin-top: auto;

    @include media-up(xl) {
      display: none;
    }

    p:not(:last-child) {
      margin-bottom: 16px;
    }

    a {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }
  }

  &__socials {
    margin-top: 16px;

    @include media-up(xl) {
      display: none;
    }

    .social {
      color: $color-gray;
    }
  }
}

.nav-backdrop {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;

  .show-nav & {
    display: block;
  }
}

.nav-burger {
  position: absolute;
  z-index: 101;
  top: 44px;
  right: 0;
  z-index: 1;
  width: 158px;
  padding: 12px 0 12px 24px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 2px 13px rgba(156, 167, 180, 0.29);
  opacity: 0;
  visibility: hidden;
  transition: .25s;
  transform: translateY(-20px);

  .show-nav & {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @include media-down(lg) {
    display: none;
  }

  li {
    padding: 12px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
  }

  a {
    display: block;
    width: 100%;
    @include link;
    font-weight: 500;
  }
}

.repair-link {
  position: relative;
  @include nav-arrow;

  @include media-up(xl) {
    a {
      padding-right: 24px;
    }
  }

  &:before {
    right: 24px;
    transform: rotate(-90deg);

    @include media-up(md) {
      right: 40px;
    }

    @include media-up(xl) {
      right: 0;
      transform: none;
    }
  }

  a {
    display: block;
    width: 100%;
  }
}

.repair-nav {
  $self: &;
  @include nav;

  .show-nav &.active {
    transform: translateX(0);
  }

  @include media-up(xl) {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    top: 92px;
    width: 100vw;
    max-height: calc(100vh - 139px);
    padding: 40px 0 80px;
    background: #fff;
    box-shadow: 0px 2px 13px rgba(156, 167, 180, 0.29);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: .25s;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.active,
    &:hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .page-scrolled & {
      max-height: calc(100vh - 92px);
    }
  }

  .container {
    @include media-up(xl) {
      display: flex;
      flex-direction: column
    }

    @include media-down(lg) {
      padding: 0;
    }
  }

  li {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include link;

    @include media-up(md) {
      font-weight: 500;
    }

    &:hover {
      color: $color-red;
    }
  }

  &__back {
    position: absolute;
    @include nav-arrow;
    color: $color-blue;
    top: 50px;
    left: 24px;
    padding-left: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;

    @include media-up(md) {
      left: 40px;
      top: 65px;
      padding-left: 40px;
    }

    @include media-up(xl) {
      display: none;
    }

    &:before {
      left: 0;
      transform: rotate(90deg);
    }
  }

  &__togglers {
    @include media-up(xl) {
      display: flex;
      margin: 0 auto 40px;
      border: 1px solid  $color-border-2;
      border-radius: 24px;
      overflow: hidden;
    }
  }

  &__toggler {
    position: relative;
    @include nav-arrow;

    @include media-up(xl) {
      padding: 12px 24px;
      color: $color-blue;
      cursor: pointer;
      transition: color .25s;

      &:before {
        display: none;
      }

      &:after {
        content: '';
        @include abs;
        z-index: -1;
        border-radius: 24px;
        background: $color-blue;
        transition: transform .25s;
      }

      &:first-child:after {
        transform: translateX(100%);
      }

      &:last-child:after {
        transform: translateX(-100%);
      }

      &.active {
        color: #fff;

        &:after {
          transform: translateX(0);
        }
      }
    }

    &:before {
      right: 24px;
      transform: rotate(-90deg);

      @include media-up(md) {
        right: 40px;
      }
    }

    @include media-down(lg) {
      position: relative;
      @include link;
      @include nav-arrow;
      font-weight: 500;
      padding: 16px 0;
      border-bottom: 1px solid $color-border;

      &:before {
        transform: rotate(-90deg)
      }
    }
  }

  &__menu {
    @include nav;

    #{$self}.active &.active {
      transform: translateX(0);
    }

    @include media-up(xl) {
      display: none;

      &.active {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
  }

  &__title {
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  &__list {
    width: 100%;
    margin-bottom: -24px;

    @include media-up(xl) {
      columns: 4;
    }
  }

  &__brands {
    margin-bottom: -24px;

    @include media-up(xl) {
      width: 640px;
      columns: 4;
      transition: width .3s;

      &:not(.active) {
        & > li:nth-child(n + 9) {
          display: none;
        }

        ul li:not(:first-child) {
          display: none;
        }
      }

      &.active {
        width: 800px;
        columns: 5;
      }

      li {
        -webkit-column-break-inside: avoid;
      }
    }

    & > li {
      display: flex;
    }

    .letter {
      color: $color-red;
      font-weight: 500;
      margin-right: 24px;
    }

    ul li {
      margin-bottom: 16px;
    }

    &-toggler {
      position: relative;
      padding-left: 36px;
      margin-left: 60px;
      color: $color-gray;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      cursor: pointer;
      transition: color .15s;

      @include media-down(lg) {
        display: none;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 13px;
        display: block;
        width: 14px;
        height: 2px;
        background: $color-gray;
        border-radius: 2px;
        transition: .15s;
      }

      &:after {
        transform: rotate(90deg);
      }

      &:hover {
        color: $color-red;

        &:before,
        &:after {
          background-color: $color-red;
        }
      }

      span:last-child {
        display: none;
      }

      &.active {
        &:after {
          opacity: 0;
        }

        span {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: block;
          }
        }
      }
    }
  }
}
