<div class="lk-bonus sidebar">
    <div class="lk-bonus__header">
        <div class="lk-bonus__logo">
            <img src="img/vector/bonus.svg" alt="">
        </div>
        <div class="lk-bonus__main">
            <div class="lk-bonus__title h3">488 баллов</div>
            <div class="lk-bonus__status">Бонусные</div>
        </div>
    </div>
    <ul class="lk-bonus__list">
        <li>5 баллов сгорит 05.06.2021</li>
        <li>5 баллов сгорит 05.06.2021</li>
        <li>5 баллов сгорит 05.06.2021</li>
    </ul>
</div>
