<h1>История ремонтов</h1>

<div class="lk-filter">
    <div class="lk-filter__item active" data-filter="*">Все</div>
    <div class="lk-filter__item" data-filter="chevrolet">Chevrolet Aveo</div>
    <div class="lk-filter__item" data-filter="chevrolet">Chevrolet Aveo</div>
    <div class="lk-filter__item" data-filter="chevrolet">Chevrolet Aveo</div>
</div>

<div class="lk-sort">
    <div class="lk-sort__title">Сортировка по:</div>
    <div class="lk-sort__item active">
        Дате
        <svg width="24" height="24">
            <use xlink:href="#arrow"></use>
        </svg>
    </div>
    <div class="lk-sort__item">
        Стоимости
        <svg width="24" height="24">
            <use xlink:href="#arrow"></use>
        </svg>
    </div>
</div>

<div class="lk-history">
    <div class="lk-history-card">
        <div class="lk-history-card__header">
            <span class="lk-history-card__modal"
                  data-fancybox
                  data-src="#modal-history">
                Подробнее
            </span>
            <div class="lk-history-card__info">
                <span>Chevrolet Aveo</span>
                <span>Гос. номер: ххххххх</span>
            </div>
        </div>
        <div class="lk-history-card__content">
            <div class="lk-history-card__details">
                <div class="lk-history-card__title">
                    Замена задних дисков и колодок (комплект)
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Дата</div>
                    <div class="lk-history-card__data-value">01.03.2021г.</div>
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Стоимость</div>
                    <div class="lk-history-card__data-value">4 000 ₽</div>
                </div>
            </div>
            <button class="lk-history-card__btn btn btn--red">В корзину</button>
        </div>
    </div>
    <div class="lk-history-card">
        <div class="lk-history-card__header">
            <span class="lk-history-card__modal"
                  data-fancybox
                  data-src="#modal-history-clarify">
                Подробнее
            </span>
            <div class="lk-history-card__info">
                <span>Chevrolet Aveo</span>
                <span>Гос. номер: ххххххх</span>
            </div>
        </div>
        <div class="lk-history-card__content">
            <div class="lk-history-card__details">
                <div class="lk-history-card__title">
                    Замена задних дисков и колодок (комплект)
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Дата</div>
                    <div class="lk-history-card__data-value">01.03.2021г.</div>
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Стоимость</div>
                    <div class="lk-history-card__data-value">4 000 ₽</div>
                </div>
            </div>
            <button class="lk-history-card__btn btn btn--red">В корзину</button>
        </div>
    </div>
    <div class="lk-history-card">
        <div class="lk-history-card__header">
            <span class="lk-history-card__modal"
                  data-fancybox
                  data-src="#modal-history">
                Подробнее
            </span>
            <div class="lk-history-card__info">
                <span>Chevrolet Aveo</span>
                <span>Гос. номер: ххххххх</span>
            </div>
        </div>
        <div class="lk-history-card__content">
            <div class="lk-history-card__details">
                <div class="lk-history-card__title">
                    Замена задних дисков и колодок (комплект)
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Дата</div>
                    <div class="lk-history-card__data-value">01.03.2021г.</div>
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Стоимость</div>
                    <div class="lk-history-card__data-value">4 000 ₽</div>
                </div>
            </div>
            <button class="lk-history-card__btn btn btn--red">В корзину</button>
        </div>
    </div>
    <div class="lk-history-card">
        <div class="lk-history-card__header">
            <span class="lk-history-card__modal"
                  data-fancybox
                  data-src="#modal-history-clarify">
                Подробнее
            </span>
            <div class="lk-history-card__info">
                <span>Chevrolet Aveo</span>
                <span>Гос. номер: ххххххх</span>
            </div>
        </div>
        <div class="lk-history-card__content">
            <div class="lk-history-card__details">
                <div class="lk-history-card__title">
                    Замена задних дисков и колодок (комплект)
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Дата</div>
                    <div class="lk-history-card__data-value">01.03.2021г.</div>
                </div>
                <div class="lk-history-card__data">
                    <div class="lk-history-card__data-title">Стоимость</div>
                    <div class="lk-history-card__data-value">4 000 ₽</div>
                </div>
            </div>
            <button class="lk-history-card__btn btn btn--red">В корзину</button>
        </div>
    </div>
</div>
