<div class="lk-menu sidebar">
    <a href="lk.html"
       class="<%=menu.profile%>">
        Профиль
    </a>
    <a href="lk-garage.html"
       class="<%=menu.garage%>">
        Мой гараж
    </a>
    <a href="lk-history.html"
       class="<%=menu.history%>">
        История ремонтов
    </a>
    <a href="lk-recommends.html"
       class="<%=menu.recommends%>">
        Рекомендации
    </a>
    <a href="lk-visits.html"
       class="<%=menu.visits%>">
        Запланированные визиты
    </a>
</div>
