<div class="modal" id="lk-car-remove">
    <div class="modal__content">
        <div class="modal__title">
            Пожалуйста,<br> подтвердите
        </div>
        <div class="modal__text">
            Вы действительно хотите удалить автомобиль из гаража?
        </div>
    </div>
    <div class="modal__buttons">
        <button class="btn btn--red" role="button">
            Удалить
        </button>
        <button class="btn" role="button" data-fancybox-close>
            Отменить
        </button>
    </div>
</div>
