<h1>Персональные данные</h1>

<form class="form lk-form" action="#">
    <div class="form__row">
        <div class="form__item">
            <label for="user_name">Имя</label>
            <input type="text"
                   name="name"
                   id="user_name"
                   placeholder="Введите ваше имя"
                   value="Екатерина"
                   minlength="2"
                   required
                   disabled>
        </div>
        <div class="form__item">
            <label for="user_lastname">Фамилия</label>
            <input type="text"
                   name="lastname"
                   id="user_lastname"
                   placeholder="Фамилия"
                   value="Русакова"
                   minlength="2"
                   required
                   disabled>
        </div>
        <div class="form__item">
            <label for="user_email">Почта</label>
            <input type="email"
                   name="email"
                   id="user_email"
                   placeholder="name@mail.ru"
                   value="rusakova@serenity.spb.ru"
                   disabled>
        </div>
    </div>
    <div class="form__row">
        <div class="form__item">
            <label for="user_phone">Номер телефона</label>
            <input type="tel"
                   name="phone"
                   id="user_phone"
                   placeholder="+7(___)___ __ __"
                   value="+7 (937) 306-08-56"
                   minlength="16"
                   required
                   disabled>
        </div>
        <div class="form__item form__item--hide">
            <label for="user_password">Пароль</label>
            <input type="password"
                   name="password"
                   id="user_password"
                   placeholder="Введите пароль"
                   value="Password"
                   minlength="8"
                   required
                   disabled>
        </div>
        <div class="form__item form__item--hidden">
            <label for="user_old_password">Текущий пароль</label>
            <input type="password"
                   name="old_password"
                   id="user_old_password"
                   placeholder="Введите пароль"
                   minlength="8"
                   required
                   disabled>
        </div>
        <div class="form__item form__item--hidden">
            <label for="user_new_password">Новый пароль</label>
            <input type="password"
                   name="new_password"
                   id="user_new_password"
                   placeholder="Введите пароль"
                   minlength="8"
                   required
                   disabled>
        </div>
        <div class="form__item form__item--hide">
            <button type="button" class="btn lk-btn-edit">
                Редактировать
            </button>
        </div>
    </div>
    <div class="form__row">
        <div class="form__item form__item--hidden">
            <label for="user_confirm_new_password">Повторите новый пароль</label>
            <input type="password"
                   name="confirm_new_password"
                   id="user_confirm_new_password"
                   placeholder="Повторите пароль"
                   minlength="8"
                   required
                   disabled>
        </div>
        <div class="form__item form__item--hidden">
            <button type="submit" class="btn btn--red">
                Сохранить изменения
            </button>
        </div>
    </div>
</form>
