<h1>Ремонт подвески Chevrolet Aveo</h1>

<div class="lk-service">
    <div class="lk-service-banner">
        <div class="lk-service-banner__items">
            <div class="lk-service-banner__item">
                <span class="price-title">Услуги</span>
                <span class="new-price">16 199 ₽</span>
                <span class="old-price">20 199 ₽</span>
            </div>
            <div class="lk-service-banner__item">
                <span class="price-title">Запчасти</span>
                <span class="new-price">8 199 ₽</span>
                <span class="old-price">8 199 ₽</span>
            </div>
            <div class="lk-service-banner__item">
                <span class="price-title">Итого</span>
                <span class="new-price">16 199 ₽</span>
                <span class="old-price">20 199 ₽</span>
            </div>
        </div>
        <a href="#" class="lk-service-banner__btn btn btn--red">
            В корзину
        </a>
    </div>

    <div class="lk-service__block">
        <h2>Что входит в услугу: ремонт подвески</h2>
        <p class="header-text">
            Список работ и запчастей используемых при ремонте
        </p>

        <div class="service-works__items grid">
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check">
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lk-service__block">
        <h2>Запчасти</h2>

        <div class="service-works__items grid">
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Деталей</span>
                            <span class="item-value">2 шт</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Запчастей</span>
                            <span class="item-value">2 шт</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__self">
                        <div class="service-item__row">
                            <label for="self_service_1" class="item-title">Привезу свою</label>
                            <input type="checkbox" name="self-service" id="self_service_1" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__hint">
                            <div class="service-item__hint-title">
                                Требуется уточнение
                            </div>
                            <div class="service-item__hint-text">
                                Менеджер актуализирует цену в корзине после сверки с поставщиком
                            </div>
                        </div>
                    </div>
                    <div class="service-item__self">
                        <div class="service-item__row">
                            <label for="self_service_2" class="item-title">Привезу свою</label>
                            <input type="checkbox" name="self-service" id="self_service_2" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Деталей</span>
                            <span class="item-value">2 шт</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__self">
                        <div class="service-item__row">
                            <label for="self_service_3" class="item-title">Привезу свою</label>
                            <input type="checkbox" name="self-service" id="self_service_3" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Деталей</span>
                            <span class="item-value">2 шт</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__self">
                        <div class="service-item__row">
                            <label for="self_service_4" class="item-title">Привезу свою</label>
                            <input type="checkbox" name="self-service" id="self_service_4" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check"
                    checked>
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Деталей</span>
                            <span class="item-value">2 шт</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__self">
                        <div class="service-item__row">
                            <label for="self_service_5" class="item-title">Привезу свою</label>
                            <input type="checkbox" name="self-service" id="self_service_5" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <input
                    type="checkbox"
                    name="service-item"
                    class="service-item__check">
                <div class="service-item__wrapper">
                    <div class="service-item__title">
                        Замена задних дисков с&nbsp;подменой колодочного диска
                    </div>
                    <div class="service-item__content">
                        <div class="service-item__row">
                            <span class="item-title">Деталей</span>
                            <span class="item-value">2 шт</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Цена</span>
                            <span class="item-value">4 343 ₽</span>
                        </div>
                        <div class="service-item__row">
                            <span class="item-title">Скидка</span>
                            <span class="item-value">50%</span>
                        </div>
                    </div>
                    <div class="service-item__total">
                        <div class="service-item__row">
                            <span class="item-title">Итого</span>
                            <span class="item-total">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__mobile">
                        <div class="service-item__row">
                            <span class="item-title">Стоимость</span>
                            <span class="new-price">4 343 ₽</span>
                            <span class="old-price">4 343 ₽</span>
                        </div>
                    </div>
                    <div class="service-item__self">
                        <div class="service-item__row">
                            <label for="self_service_6" class="item-title">Привезу свою</label>
                            <input type="checkbox" name="self-service" id="self_service_6" checked>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
