<h1>Запланированные визиты</h1>

<div class="lk-works grid">
    <div class="lk-work">
        <div class="lk-work__auto">Chevrolet Aveo</div>
        <div class="lk-work__date">19.06.2021 в 19:00</div>
        <div class="lk-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-work__total">4 343 ₽</div>
        <div class="lk-work__btns">
            <button class="lk-work__btn btn btn--transparent">Отказаться</button>
            <button class="lk-work__btn btn">Перенести</button>
        </div>
    </div>
    <div class="lk-work">
        <div class="lk-work__auto">Chevrolet Aveo</div>
        <div class="lk-work__date">19.06.2021 в 19:00</div>
        <div class="lk-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-work__total">4 343 ₽</div>
        <div class="lk-work__btns">
            <button class="lk-work__btn btn btn--transparent">Отказаться</button>
            <button class="lk-work__btn btn">Перенести</button>
        </div>
    </div>
    <div class="lk-work">
        <div class="lk-work__auto">Chevrolet Aveo</div>
        <div class="lk-work__date">19.06.2021 в 19:00</div>
        <div class="lk-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-work__total">4 343 ₽</div>
        <div class="lk-work__btns">
            <button class="lk-work__btn btn btn--transparent">Отказаться</button>
            <button class="lk-work__btn btn">Перенести</button>
        </div>
    </div>
    <div class="lk-work">
        <div class="lk-work__auto">Chevrolet Aveo</div>
        <div class="lk-work__date">19.06.2021 в 19:00</div>
        <div class="lk-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-work__total">4 343 ₽</div>
        <div class="lk-work__btns">
            <button class="lk-work__btn btn btn--transparent">Отказаться</button>
            <button class="lk-work__btn btn">Перенести</button>
        </div>
    </div>
    <div class="lk-work">
        <div class="lk-work__auto">Chevrolet Aveo</div>
        <div class="lk-work__date">19.06.2021 в 19:00</div>
        <div class="lk-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-work__total">4 343 ₽</div>
        <div class="lk-work__btns">
            <button class="lk-work__btn btn btn--transparent">Отказаться</button>
            <button class="lk-work__btn btn">Перенести</button>
        </div>
    </div>
    <div class="lk-work">
        <div class="lk-work__auto">Chevrolet Aveo</div>
        <div class="lk-work__date">19.06.2021 в 19:00</div>
        <div class="lk-work__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-work__total">4 343 ₽</div>
        <div class="lk-work__btns">
            <button class="lk-work__btn btn btn--transparent">Отказаться</button>
            <button class="lk-work__btn btn">Перенести</button>
        </div>
    </div>
</div>
