<h1>Запланированные визиты</h1>

<div class="lk-visits">
    <div class="lk-visit">
        <div class="lk-visit__auto">Chevrolet Aveo</div>
        <div class="lk-visit__date">19.06.2021 в 19:00</div>
        <div class="lk-visit__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-visit__total">4 343 ₽</div>
        <div class="lk-visit__btns">
            <div class="lk-visit__btn btn btn--transparent">Отказаться</div>
            <div class="lk-visit__btn btn">Перенести</div>
        </div>
    </div>
    <div class="lk-visit">
        <div class="lk-visit__auto">Chevrolet Aveo</div>
        <div class="lk-visit__date">19.06.2021 в 19:00</div>
        <div class="lk-visit__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-visit__total">4 343 ₽</div>
        <div class="lk-visit__btns">
            <div class="lk-visit__btn btn btn--transparent">Отказаться</div>
            <div class="lk-visit__btn btn">Перенести</div>
        </div>
    </div>
    <div class="lk-visit">
        <div class="lk-visit__auto">Chevrolet Aveo</div>
        <div class="lk-visit__date">19.06.2021 в 19:00</div>
        <div class="lk-visit__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-visit__total">4 343 ₽</div>
        <div class="lk-visit__btns">
            <div class="lk-visit__btn btn btn--transparent">Отказаться</div>
            <div class="lk-visit__btn btn">Перенести</div>
        </div>
    </div>
    <div class="lk-visit">
        <div class="lk-visit__auto">Chevrolet Aveo</div>
        <div class="lk-visit__date">19.06.2021 в 19:00</div>
        <div class="lk-visit__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-visit__total">4 343 ₽</div>
        <div class="lk-visit__btns">
            <div class="lk-visit__btn btn btn--transparent">Отказаться</div>
            <div class="lk-visit__btn btn">Перенести</div>
        </div>
    </div>
    <div class="lk-visit">
        <div class="lk-visit__auto">Chevrolet Aveo</div>
        <div class="lk-visit__date">19.06.2021 в 19:00</div>
        <div class="lk-visit__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-visit__total">4 343 ₽</div>
        <div class="lk-visit__btns">
            <div class="lk-visit__btn btn btn--transparent">Отказаться</div>
            <div class="lk-visit__btn btn">Перенести</div>
        </div>
    </div>
    <div class="lk-visit">
        <div class="lk-visit__auto">Chevrolet Aveo</div>
        <div class="lk-visit__date">19.06.2021 в 19:00</div>
        <div class="lk-visit__title">Замена задних дисков и&nbsp;колодок&nbsp;(комплект)</div>
        <div class="lk-visit__total">4 343 ₽</div>
        <div class="lk-visit__btns">
            <div class="lk-visit__btn btn btn--transparent">Отказаться</div>
            <div class="lk-visit__btn btn">Перенести</div>
        </div>
    </div>
</div>
