*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font;
  color: $color-gray;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  background-color: #fff;
  min-width: 320px;
  min-height: 100vh;
  min-height: var(--app-height);
  @include fz12-14-16;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  flex-grow: 1;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  user-select: none;
}

picture {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $font-title;
  color: $color-blue;
  font-weight: 700;
  padding: 0;
}

h1, .h1 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;

  @include media-up(md) {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
  }

  @include media-up(xl) {
    font-size: 48px;
    line-height: 58px;
  }
}

h2, .h2 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;

  @include media-up(md) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 40px;
  }

  @include media-up(xl) {
    font-size: 32px;
    line-height: 44px;
  }
}

h3, .h3 {
  font-size: 16px;
  line-height: 26px;

  @include media-up(md) {
    font-size: 18px;
    line-height: 28px;
  }

  @include media-up(xl) {
    font-size: 20px;
    line-height: 30px;
  }
}

.title-big {
  font-size: 32px;
  line-height: 50px;

  @include media-up(md) {
    font-size: 56px;
    line-height: 66px;
  }

  @include media-up(xl) {
    font-size: 82px;
    line-height: 92px;
  }
}

.d-none-mob {
  @include media-down(sm) {
    display: none;
  }
}

.d-none-dsk {
  @include media-up(md) {
    display: none;
  }
}

ul,
ol {
  list-style: none;
}

label {
  display: block;
  cursor: pointer;
}

input[type="checkbox"] {
  position: relative;
  margin: 0;
  width: 20px;
  height: 20px;
  font: inherit;
  border: 1px solid $color-border-2;
  background: none center no-repeat;
  border-radius: 4px;
  display: grid;
  place-content: center;
  appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    border-color: $color-blue;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/icon/check.svg) center no-repeat;
    transform: scale(0) rotate(-90deg);
    transition: .1s;
  }

  &:checked {
    border-color: $color-blue;
    background-color: $color-blue;

    &:before {
      transform: scale(1) rotate(0);
    }
  }
}

input[type="radio"] {
  position: relative;
  margin: 0;
  width: 20px;
  height: 20px;
  font: inherit;
  border: 1px solid $color-red;
  background: none center no-repeat;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: .2s;
  appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    border-color: $color-blue;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 15px;
    background: $color-red;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .1s;
  }

  &:checked {
    border-color: $color-red;

    &:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.page {
  padding: 24px 0 60px;

  @include media-up(md) {
    padding: 40px 0 100px;
  }
}

.page-wrapper {
  display: grid;
  grid-gap: 32px;

  @include media-up(md) {
    grid-gap: 40px;
  }

  @include media-up(xl) {
    grid-template-columns: 1fr 306px;
    grid-gap: 32px;
  }
}

.page-sidebar {
  @include media-up(xl) {
    position: sticky;
    top: 110px;
  }
}

.section {
  padding: 50px 0;
}
