$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
);

$font: "GolosText", -apple-system, system-ui, sans-serif;
$font-title: "Montserrat", -apple-system, system-ui, sans-serif;

$color-main: #434963;
