// Breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1320px,
);

// Fonts
$font: "GolosText", -apple-system, system-ui, sans-serif;
$font-title: "Montserrat", -apple-system, system-ui, sans-serif;

// Colors
$color-blue: #164168;
$color-blue-hover: #1C568A;
$color-blue-active: #0F375B;
$color-blue-05: #1641680F;
$color-blue-10: #1641681A;
$color-red: #D34B3B;
$color-red-hover: #D34130;
$color-red-active: #B93626;
$color-gray: #5E768B;
$color-gray-2: #C3CDDC;
$color-light: #F5EEE7;
$color-orange: #EAC9A9;
$color-border: #E9F0F7;
$color-border-2: #C2CDD8;
$color-border-3: #DFD8D1;
