<section class="about-hero">
    <h1 class="about-hero__title">Об автосервисе</h1>

    <div class="about-hero__wrapper">
        <div class="about-hero__content wow fadeInUp" data-wow-delay="100">
            <div class="about-hero__subtitle h3">
                <span>Solvik</span> — сервис с душой
            </div>
            <div class="about-hero__text">
                Мы существуем для того, чтобы вы комфортно чувствовали себя за рулем. С душой подходим к ремонту автомобилей, заботимся о вашем комфорте и обеспечиваем вашу безопасность на дорогах.
            </div>
        </div>
        <div class="about-hero__img wow fadeInUp">
            <img src="img/base/about/hero-1.jpg" alt="">
        </div>
        <div class="about-hero__img d-none-sm wow fadeInUp" data-wow-delay="200">
            <img src="img/base/about/hero-2.jpg" alt="">
        </div>
    </div>
</section>
