<div class="about-history">
    <h2 class="about-history__title">
        История компании
    </h2>

    <div class="about-history__wrapper wow fadeInUp">
        <div class="about-history-card">
            <div class="about-history-card__title" title="Мы раньше">
                Мы раньше
            </div>
            <div class="about-history-card__text">
                С 2017 года мы занимаемся ремонтом и сервисным обслуживанием автомобилей. 5 лет мы работали только с американскими автомобилями и сервис назывался «Америкар». Мы намерены и дальше сохранять и развивать эту специализацию. Американцы — наш конек. Но мы поняли, что уже выросли и готовы масштабировать опыт на другие марки.
            </div>
        </div>
        <div class="about-history__bg wow fadeInUp" data-wow-delay="100"></div>
        <div class="about-history-card wow fadeInUp" data-wow-delay="200">
            <div class="about-history-card__title" title="Мы сейчас">
                Мы сейчас
            </div>
            <div class="about-history-card__text">
                Выбрали новое направление, которое  будем развивать параллельно и на том же высоком уровне, как и линию по ремонту американских авто. Расширили ремзону специально для работы с японскими и корейскими брендами. Сохранили уровень сервиса. Мы по-прежнему остаемся уникальной командой мастеров, профессионально разбирающейся в отдельных линейках автомобилей.
            </div>
        </div>
    </div>
</div>
