<div class="about-team">
    <h2 class="about-team__title">Наша команда</h2>

    <div class="about-team__filters">
        <div class="about-team__filter active"
             data-filter="*">
            Все
        </div>
        <div class="about-team__filter"
             data-filter="master">
            Мастера приемщики
        </div>
        <div class="about-team__filter"
             data-filter="diagnost">
            Диагносты
        </div>
        <div class="about-team__filter"
             data-filter="mechanic">
            Механики
        </div>
        <div class="about-team__filter"
             data-filter="manager">
            Менеджеры по запчастям
        </div>
    </div>

    <div class="about-team__slider">
        <div class="swiper-wrapper">
            <div class="about-team-slide swiper-slide" data-role="master">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Мастер приемщик</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
            <div class="about-team-slide swiper-slide" data-role="diagnost">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Диагност</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
            <div class="about-team-slide swiper-slide" data-role="mechanic">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Механик</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
            <div class="about-team-slide swiper-slide" data-role="manager">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Менеджеры по запчастям</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
            <div class="about-team-slide swiper-slide" data-role="master">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Мастер приемщик</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
            <div class="about-team-slide swiper-slide" data-role="diagnost">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Диагност</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
            <div class="about-team-slide swiper-slide" data-role="mechanic">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Механик</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
            <div class="about-team-slide swiper-slide" data-role="manager">
                <div class="about-team-slide__photo">
                    <img src="img/base/about/team-member.jpg" alt="">
                </div>
                <div class="about-team-slide__content">
                    <div class="about-team-slide__name h3">Анатолий</div>
                    <div class="about-team-slide__role">Менеджеры по запчастям</div>
                    <div class="about-team-slide__desc">Профи по американцам. Чувствует их сердцем. Знает, чем отличается движок  Detroit Diesel от Cummins или Kohler Engines</div>
                </div>
            </div>
        </div>
        <div class="swiper-navigation">
            <div class="swiper-button swiper-button--prev">
                <svg width="9" height="15">
                    <use xlink:href="#slider-arrow"></use>
                </svg>
            </div>
            <div class="swiper-button swiper-button--next">
                <svg width="9" height="15">
                    <use xlink:href="#slider-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
