<div class="about-why">
    <h2 class="about-why__title">
        Почему «Solvik» вместо «Америкар»
    </h2>

    <div class="about-why__wrapper">
        <img src="img/base/about/why.svg" alt=""
             class="about-why__icon wow fadeInUp">
        <div class="about-why__content wow fadeInUp" data-wow-delay="100">
            <div class="about-why__subtitle h3">
                Новое название созвучно английскому произношению двух слов: <span>soul (душа) и  service (сервис)</span>
            </div>
            <div class="about-why__text">
                Soul&vice — душевный сервис<br>
                Именно такой сервис мы предоставляем нашим клиентам и именно такой подход нравится нам самим. Solvik — это поддержка и забота до, после и во время обслуживания автомобиля. Изменили имя, но не изменили принципам и качеству.
            </div>
        </div>
    </div>

    <div class="about-why__img wow fadeInUp" data-wow-delay="200">
        <img src="img/base/about/why-img.jpg" alt="">
    </div>
</div>
