<section class="diagnostic-hero wow fadeInUp">
    <div class="diagnostic-hero__wrapper">
        <div class="diagnostic-hero__content">
            <h1 class="diagnostic-hero__title">
                Диагностика
            </h1>
            <div class="diagnostic-hero__text">
                <p>Диагностика — это системная оценка состояния автомобиля. Наша задача — не только выявить дефекты, но и подробно описать и объяснить вам, что случилось с машиной.</p>
                <ul>
                    <li>Если неполадка влияет на безопасность движения, мы скажем вам об этом и порекомендуем срочно устранить неисправность;</li>
                    <li>Если проблема может подождать — предложим варианты и&nbsp;обозначим сроки, чтобы вы заранее запланировали следующий визит</li>
                </ul>
            </div>
            <a href="appointment.html" class="diagnostic-hero__btn btn btn--red">
                Записаться на диагностику
            </a>
        </div>
        <div class="diagnostic-hero__image">
            <img src="img/base/diagnostic/hero.png" alt="">
        </div>
    </div>
</section>
