<section class="diagnostic-how">
    <div class="container container--big">
        <h2 class="diagnostic-how__title h1">
            Как проводится диагностика
        </h2>
        <div class="diagnostic-how__wrapper">
            <div class="diagnostic-how__content">
                <ul class="diagnostic-how__list">
                    <li>Спрашиваем, что вас волнует, почему обратились в СТО и что ждете от ремонта</li>
                    <li>Обязательно осматриваем и проверяем автомобиль на подъемнике.</li>
                    <li>Задействуем весь спектр приборов, которыми располагает ремзона, если необходимо более детально обследовать автомобиль. Особый акцент делаем на ходовой и тормозной системе, потому что от их исправности зависит безопасность водителя и пассажиров</li>
                    <li>Заполняем электронный чек-лист. Это список, адаптированный под конкретный автомобиль с учетом его особенностей и специфических проблем</li>
                    <li>Важно: количество диагностируемых элементов зависит от марки авто и каждом конкретном случае может быть разным. Мы индивидуально подходим к оценке технического состояния машины</li>
                    <li>Вы получаете распечатанный результат диагностики по чек-листу.</li>
                    <li>В нем подробно указано, какие элементы по каким параметрам мы оценили и какие неисправности нашли. В электронном виде чек-лист хранится в нашей базе. Вы можете в любой момент посмотреть его в личном кабинете на сайте или с помощью чат-бота в Телеграм. Хотите узнать износ передних дисков или увидеть динамику износа колодок — пожалуйста! Вся информация открыта и доступна</li>
                    <li>Даем подробные ответы на ваши вопросы, рекомендации по устранению дефектов и советы по обслуживанию автомобиля от наших экспертов</li>
                    <li>Сюда мы заносим, все проблемы, которые выявила диагностика и все работы и запчасти, необходимые для устранения. Расставляем неисправности в порядке срочности и важности: что нельзя откладывать и что может подождать</li>
                    <li>Сюда мы заносим, все проблемы, которые выявила диагностика и все работы и запчасти, необходимые для устранения. Расставляем неисправности в порядке срочности и важности: что нельзя откладывать и что может подождать</li>
                    <li>Сюда мы заносим, все проблемы, которые выявила диагностика и все работы и запчасти, необходимые для устранения. Расставляем неисправности в порядке срочности и важности: что нельзя откладывать и что может подождать</li>
                </ul>
            </div>
            <div class="diagnostic-how__sidebar">
                <div class="h2">Преимущества диагностики</div>
                <p>По результатам диагностики вы получаете распечатанный список обнаруженных неисправностей, результаты проведенных проверок, и рекомендации по ремонту автомобиля и замене запчастей.</p>
                <p>Ничего не забудется и не потеряется, потому что вся информация сохраняется в электронном виде и к ней можно вернуться в любое время. Полностью понятный и прозрачный процесс для обеих сторон: автовладельца и сервисного центра</p>
                <a href="appointment.html" class="btn btn--red">Записаться на диагностику</a>
            </div>
        </div>
    </div>
</section>
