<section class="diagnostic-main">
    <div class="container container--big">
        <div class="diagnostic-main__wrapper">
            <div class="diagnostic-main__content wow fadeInUp">
                <h2 class="diagnostic-main__title h1">
                    Главное в диагностике
                </h2>
                <div class="diagnostic-main__text">
                    <p>Общение с вами, ваши пожелания плюс личный опыт наших экспертов, их&nbsp;квалификация и накопленная база знаний по ремонту американских, японских и корейских авто дают самые лучшие и профессиональные результаты</p>
                    <p>Цель работы нашего автосервиса: качественно, оперативно и с душой выполнить обслуживание или ремонт автомобиля. Для этого необходима профессиональная диагностика. Это самый сложный и важный этап сервиса. Для диагностики нужны не только современные приборы, инновационные решения и технологии, но и профессиональный опыт, который не заменит даже дорогостоящее оборудование</p>
                </div>
                <a href="appointment.html" class="btn btn--red">Записаться на диагностику</a>
            </div>
            <div class="diagnostic-main__img wow fadeInUp" data-wow-delay="200">
                <img src="img/base/diagnostic/main.png" alt="">
            </div>
        </div>
    </div>
</section>
