<section class="diagnostic-quiz wow fadeInUp">
    <div class="container container--big">
        <h2 class="diagnostic-quiz__title visually-hidden">
            Квиз
        </h2>
        <form class="diagnostic-quiz__wrapper quiz">
            <div class="quiz__step active">
                <div class="quiz__title h1">
                    Выберите что вас беспокоит?
                </div>
                <div class="quiz__options">
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Что то беспокоит в машине
                            </div>
                            <input type="radio" name="question-1"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Диагностика перед дальнейшей работой
                            </div>
                            <input type="radio" name="question-1"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Диагностика перед покупкой
                            </div>
                            <input type="radio" name="question-1"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Диагностика перед зимой
                            </div>
                            <input type="radio" name="question-1"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Плановая диагностика
                            </div>
                            <input type="radio" name="question-1"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                </div>
                <div class="quiz__btns">
                    <button class="quiz__btn btn" data-step="next" disabled>Далее</button>
                </div>
            </div>
            <div class="quiz__step">
                <div class="quiz__title h1">
                    Выберите что вас беспокоит?
                </div>
                <div class="quiz__options">
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Что то беспокоит в машине
                            </div>
                            <input type="radio" name="question-2"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Диагностика перед дальнейшей работой
                            </div>
                            <input type="radio" name="question-2"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Диагностика перед покупкой
                            </div>
                            <input type="radio" name="question-2"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Диагностика перед зимой
                            </div>
                            <input type="radio" name="question-2"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                    <label class="quiz-option">
                        <div class="quiz-option__wrapper">
                            <div class="quiz-option__title h3">
                                Плановая диагностика
                            </div>
                            <input type="radio" name="question-2"
                                    class="quiz-option__radio">
                        </div>
                    </label>
                </div>
                <div class="quiz__btns">
                    <button class="quiz__btn btn" data-step="prev">Назад</button>
                    <button class="quiz__btn btn" data-step="next" disabled>Далее</button>
                </div>
            </div>
            <div class="quiz__step">
                <div class="quiz__final">
                    <button class="quiz__to-start">
                        Вернуться в начало
                    </button>
                    <div class="quiz__title h1">
                        Ваши ответы записаны
                    </div>
                    <div class="quiz__text h3">
                        Судя по вашим ответам, вам нужно провести диагностику ходовой части
                    </div>
                    <div class="quiz__price h2">
                        Цена 3 000 р.
                    </div>
                    <div class="quiz__btns">
                        <button class="quiz__btn btn">
                            <span class="d-none-sm">Добавить в корзину</span>
                            <span class="d-none-md">В корзину</span>
                        </button>
                        <button class="quiz__btn btn btn--red">
                            <span class="d-none-sm">Оформить ремонт</span>
                            <span class="d-none-md">Оформить</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
