<section class="diagnostic-types wow fadeInUp">
    <h2 class="diagnostic-types__title h1">
        Виды диагностики
    </h2>
    <div class="diagnostic-types__subtitle h3">
        Мы диагностируем американские, японские и корейские автомобили по следующим параметрам:
    </div>
    <div class="diagnostic-types__nav">
        <div class="diagnostic-nav-item active">Ходовая часть</div>
        <div class="diagnostic-nav-item">Двигатель</div>
        <div class="diagnostic-nav-item">Тормозная система</div>
        <div class="diagnostic-nav-item">Система кондиционирования</div>
        <div class="diagnostic-nav-item">Углы установки колес</div>
    </div>
    <div class="diagnostic-types__tabs">
        <div class="diagnostic-tab active">
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика ходовой<br> части</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
        </div>
        <div class="diagnostic-tab">
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика двигателя</div>
                <div class="diagnostic-type__price">990 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика двигателя</div>
                <div class="diagnostic-type__price">990 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика двигателя</div>
                <div class="diagnostic-type__price">990 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
        </div>
        <div class="diagnostic-tab">
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика тормозной системы</div>
                <div class="diagnostic-type__price">390 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика тормозной системы</div>
                <div class="diagnostic-type__price">390 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика тормозной системы</div>
                <div class="diagnostic-type__price">390 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
        </div>
        <div class="diagnostic-tab">
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика кондиционера</div>
                <div class="diagnostic-type__price">590 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика кондиционера</div>
                <div class="diagnostic-type__price">590 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика кондиционера</div>
                <div class="diagnostic-type__price">590 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
        </div>
        <div class="diagnostic-tab">
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика колес</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика колес</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
            <div class="diagnostic-type">
                <div class="diagnostic-type__title">Диагностика колес</div>
                <div class="diagnostic-type__price">690 ₽</div>
                <button class="diagnostic-type__btn btn btn--red">В корзину</button>
            </div>
        </div>
    </div>
</section>
