<div class="page404">
    <div class="page404__container container">
        <img src="img/vector/404.svg" alt=""
             class="page404__img wow fadeInUp">
        <div class="page404__content wow fadeInUp"
             data-wow-delay="200">
            <h1 class="visually-hidden">404</h1>
            <div class="page404__text">
                Кажется вы что–то сделали не так , раз попали на эту страницу
            </div>
            <a href="/" class="page404__btn btn btn--red">
                Вернуться на главную
            </a>
        </div>
    </div>
    <img src="img/vector/404-bg.svg" alt="" class="page404__bg">
</div>
