.lk-auto-cards {
  display: grid;
  grid-gap: 12px;

  @include media-up(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  @include media-up(xl) {
    grid-gap: 32px;
  }
}

.lk-auto-card {
  $self: &;
  position: relative;
  padding: 16px 24px;
  border-radius: 32px;
  background: $color-light;
  transition: background-color .25s;

  @include media-up(md) {
    padding: 24px;
  }

  &:hover {
    background-color: $color-light-hover;
  }

  &__content {
    position: relative;
  }

  &__status {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
  }

  &__info {
    display: block;
    padding-right: 100px;
    color: $color-blue;

    @include media-up(md) {
      font-weight: 500;
    }

    p {
      margin-bottom: 4px;
    }
  }
}
