.lk-auto-cards {
  display: grid;
  grid-gap: 12px;

  @include media-up(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  @include media-up(xl) {
    grid-gap: 32px;
  }
}

.lk-auto-card {
  position: relative;
  padding: 16px 24px;
  border-radius: 32px;
  background: $color-light;

  @include media-up(md) {
    padding: 24px;
  }

  &__content {
    position: relative;
  }

  &__status {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__info {
    padding-right: 100px;
    color: $color-blue;
    margin-bottom: 16px;

    @include media-up(md) {
      font-weight: 500;
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 4px;
    }
  }

  &__remove {
    font-weight: 500;
    @include link-red;
  }
}
