.lk-auto {
  $self: &;
  background: $color-light;
  box-shadow: 0 0 0 1px $color-border-2;
  border-radius: 32px;
  gap: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    box-shadow: 0 0 0 1px $color-border-2;
    border-radius: 32px;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include media-up(md) {
        flex-direction: row;
        align-items: center;
        gap: 24px;
      }
    }
  }

  &__title {

  }

  &__status {
    #{$self}.edited & {
      display: none;
    }
  }

  &__save {
    display: none;
    @include link;
    font-weight: 500;

    #{$self}.edited & {
      @include media-up(md) {
        display: block;
      }
    }
  }

  &__edit {
    width: 40px;
    height: 40px;
    min-width: unset;
    padding: 8px;
    border-radius: 50%;

    #{$self}.edited & {
      background: $color-red;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: grid;
    grid-gap: 12px;
    padding: 24px;

    @include media-up(md) {
      grid-template-columns: repeat(3, auto);
      justify-content: flex-start;
      grid-gap: 24px 60px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    #{$self}.edited &--hide {
      @include media-down(sm) {
        display: none;
      }

      @include media-up(md) {
        opacity: 0;
        visibility: hidden;
      }
    }

    &-title {

    }

    &-value {
      font-weight: 500;
      color: $color-blue;
    }
  }

  &__footer {
    padding: 24px;
    box-shadow: 0 0 0 1px $color-border-2;
    border-radius: 32px;

    #{$self}:not(.edited) & {
      display: none;
    }

    @include media-up(md) {
      display: flex;
      align-items: flex-end;
      gap: 40px;

      .form__item {
        @include media-up(md) {
          flex: unset;
          width: 338px;
        }
      }
    }
  }

  &__is-main {
    margin-top: 16px;

    @include media-up(md) {
      margin-top: 0;
      margin-bottom: 9px;
    }

    @include media-up(lg) {
      margin-bottom: 14px;
    }
  }

  &__save-btn {
    margin-top: 24px;

    @include media-up(md) {
      display: none;
    }
  }

  &__remove {
    font-weight: 500;
    @include link-red;
    margin-top: 16px;

    @include media-up(md) {
      margin-top: 0;
    }

    @include media-up(lg) {
      margin-bottom: 18px;
      margin-left: auto;
    }
  }
}
