.lk-sort {
  $self: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @include media-up(md) {
    justify-content: flex-start;
  }

  &__title {
    @include media-up(md) {
      margin-right: 40px;

      #{$self}--center & {
        margin-right: 165px;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: $color-blue;
    overflow: hidden;
    opacity: 0.5;
    cursor: pointer;

    &:not(:last-child) {
      @include media-up(md) {
        margin-right: 40px;
      }
    }

    svg {
      transition: transform .15s;

      &:last-child {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(100%) rotate(180deg);
        color: $color-red;
      }
    }

    &:hover,
    &.active {
      opacity: 1;
    }

    &.reverse {
      svg {
        &:first-child {
          transform: translateY(-100%);
        }

        &:last-child {
          transform: translateY(0) rotate(180deg);
        }
      }
    }
  }
}
