.lk-work {
  padding: 24px;
  background: $color-light;
  border-radius: 24px;
  font-size: 16px;
  line-height: 28px;

  &__status {
    margin-bottom: 16px;
  }

  &__auto {
    margin-bottom: 8px;
  }

  &__date {
    font-weight: 500;
    color: $color-red;
    margin-bottom: 8px;
  }


  &__title {
    display: block;
    font-weight: 500;
    margin-bottom: 12px;
    @include link;
  }

  &__works {
    @include fz12-14;
    margin-bottom: 12px;
  }

  &__total {
    font-family: $font-title;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: $color-red;
  }

  &__btns {
    display: flex;
    gap: 8px;
    margin-top: 16px;
  }

  &__btn {
    min-width: unset;
    flex: 1 1 0;
    padding: 7px 0;
    font-size: 14px;
    line-height: 26px;
  }
}
