.lk-wrapper {
  display: grid;
  grid-gap: 32px;

  @include media-up(md) {
    grid-gap: 40px;
  }

  @include media-up(xl) {
    grid-gap: 32px;
    grid-template-columns: 285px 1fr;
  }

  & > .lk-bonus {
    @include media-up(xl) {
      display: none;
    }
  }
}

.lk-sidebar {
  .lk-bonus {
    @include media-down(lg) {
      display: none;
    }
  }
}
